@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.news {
  &_wrap {
    display: flex;
    justify-content: space-between;
    padding: 70px 100px;
  }
  &_aside {
    width: 228px;
    margin-right: 42px;
    h3 {
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding: 0 0 12px 0;
      border-bottom: 1px solid #000;
    }
    ul {
      li {
        width: 100%;
        margin-top: 15px;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 32px;
          font-size: 1.4rem;
          line-height: 1.5;
          color: #000;
          position: relative;
          transform: translateZ(0);
          border: 1px solid #dcdcdc;
          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background: #333333;
            left: 0;
            top: 0;
            transform-origin: 50%;
            transform: scale(1,0);
            transition: transform 0.3s ease;
            z-index: -1;
          }
          &:hover {
            color: #fff;
            &::before {
              transform: scale(1,1);
            }
          }
        }
      }
    }
  }
  &_list {
    width: calc(100% - 228px - 42px);
    &_wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      article {
        width: 350px;
        &:not(:nth-child(-n+2)) {
          margin-top: 35px;
        }
        figure {
          position: relative;
          line-height: 0;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }
          figcaption {
            position: absolute;
            display: inline-block;
            font-size: 1.1rem;
            line-height: 1;
            color: #fff;
            padding: 8px 23px 7px 25px;
            white-space: nowrap;
            background: #000;
            top: 0;
            left: 0;
          }
        }
        time {
          font-size: 1.1rem;
          line-height: 0.8;
          margin-top: 20px;
          font-family: $roboto;
          color: #7d7d7d;
          display: inline-block;
        }
        h3 {
          font-size: 1.8rem;
          line-height: 24px;
          color: #434343;
          font-weight: bold;
          margin-top: 10px;
        }
        p {
          font-size: 1.3rem;
          line-height: 18px;
          font-weight: 500;
          color: #7d7d7d;
          margin-top: 8px;
          @include multiLineEllipsis($lineHeight: 18px, $lineCount: 2, $bgColor: white);
        }
        a {
          &:hover {
            figure {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
    &_pagi {
      margin-top: 33px;
      ul {
        display: flex;
        justify-content: center;
        li {
          width: 42px;
          height: 42px;
          &:not(:last-child) {
            margin-right: 5px;
          }
          a,span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            color: #000;
            font-size: 1.6rem;
            line-height: 0.8;
            font-family: $roboto;
            &.page-numbers {
              &:hover,&.active {
                color: #fff;
                background: #000;
              }
            }
            &.next,&.prev {
              text-indent: -9999px;
              overflow: hidden;
              &:hover {
                background-color: transparent;
              }
            }
            &.prev,&.prev:hover {
              background: url('../images/arrow_prev.png') center no-repeat;
              background-size: 10px 12px;
            }
            &.next,&.next:hover {
              background: url('../images/arrow_next.png') center no-repeat;
              background-size: 10px 12px;
            }
          }
          span.current {
            color: #fff;
            background: #000;
          }
        }
      }
    }
  }
  &_article {
    .info {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 22px;
        padding: 7px 47px 6px;
        background: #000;
        color: #fff;
        margin-right: 18px;
      }
      time {
        font-size: 1.4rem;
        line-height: 35px;
        font-family: $roboto;
        font-weight: 400;
        color: #7d7d7d;
      }
    }
    &_ttl {
      font-size: 3rem;
      line-height: 40px;
      font-weight: bold;
      margin-top: 26px;
    }
    &_social {
      margin-top: 23px;
      > img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
    &_content {
      margin-top: 14px;
      p {
        font-size: 1.5rem;
        line-height: 29px;
        margin-top: 27px;
      }
      h2 {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: bold;
        color: #fff;
        padding: 7px 17px;
        background: #1ba4db;
        margin-top: 27px;
      }
      img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin-top: 27px;
      }
      h3 {
        font-size: 1.8rem;
        line-height: 28px;
        padding: 0 0 5px;
        font-weight: bold;
        border-bottom: 1px solid #1ba4db;
        margin-top: 27px;
      }
    }
  }
}