@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.news {
  &_wrap {
    padding: vw(70) 0;
  }
  &_aside {
    h3 {
      font-size: vw(28);
      line-height: 1;
      font-weight: 700;
      text-transform: uppercase;
      color: #000;
      padding: 0 0 vw(10) 0;
      border-bottom: 1px solid #000;
    }
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      li {
        width: 45%;
        margin-top: vw(20);
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: vw(60);
          font-size: vw(28);
          line-height: 1.5;
          color: #000;
          position: relative;
          transform: translateZ(0);
          border: 1px solid #dcdcdc;
        }
      }
    }
  }
  &_list {
    &_wrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      article {
        width: vw(330);
        margin-top: vw(30);
        figure {
          position: relative;
          line-height: 0;
          overflow: hidden;
          img {
            width: 100%;
            height: auto;
            transition: transform 0.3s ease;
          }
          figcaption {
            position: absolute;
            display: inline-block;
            font-size: vw(20);
            line-height: 1;
            color: #fff;
            padding: vw(16) vw(30) vw(16) vw(30);
            white-space: nowrap;
            background: #000;
            top: 0;
            left: 0;
          }
        }
        time {
          font-size: vw(20);
          line-height: 0.8;
          margin-top: vw(20);
          font-family: $roboto;
          color: #7d7d7d;
          display: inline-block;
        }
        h3 {
          font-size: vw(26);
          @include multiLineEllipsis($lineHeight: 5.2vw, $lineCount: 2, $bgColor: white);
          color: #434343;
          font-weight: bold;
          margin-top: vw(10);
        }
        p {
          font-size: vw(26);
          font-weight: 500;
          color: #7d7d7d;
          margin-top: vw(10);
          @include multiLineEllipsis($lineHeight: 5.2vw, $lineCount: 2, $bgColor: white);
        }
        a {
          &:hover {
            figure {
              img {
                transform: scale(1.05);
              }
            }
          }
        }
      }
    }
    &_pagi {
      margin-top: vw(33);
      ul {
        display: flex;
        justify-content: center;
        li {
          width: vw(60);
          height: vw(60);
          &:not(:last-child) {
            margin-right: vw(10);
          }
          a,span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            border: 1px solid #000;
            color: #000;
            font-size: vw(24);
            line-height: 0.8;
            font-family: $roboto;
            &.page-numbers {
              &:hover,&.active {
                color: #fff;
                background: #000;
              }
            }
            &.next,&.prev {
              text-indent: -9999px;
              overflow: hidden;
            }
            &.prev {
              background: url('../images/arrow_prev.png') center no-repeat;
              background-size: #{vw(20)} #{vw(24)};
            }
            &.next {
              background: url('../images/arrow_next.png') center no-repeat;
              background-size: #{vw(20)} #{vw(24)};
            }
          }
          .span.current {
            color: #fff;
            background: #000;
          }
        }
      }
    }
  }
  &_article {
    margin-top: vw(50);
    .info {
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 22px;
        padding: 7px 47px 6px;
        background: #000;
        color: #fff;
        margin-right: 18px;
      }
      time {
        font-size: 1.4rem;
        line-height: 35px;
        font-family: $roboto;
        font-weight: 400;
        color: #7d7d7d;
      }
    }
    &_ttl {
      font-size: 3rem;
      line-height: 40px;
      font-weight: bold;
      margin-top: 26px;
    }
    &_social {
      margin-top: 23px;
      > img {
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
    &_content {
      margin-top: 14px;
      p {
        font-size: 1.5rem;
        line-height: 29px;
        margin-top: 27px;
      }
      h2 {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: bold;
        color: #fff;
        padding: 7px 17px;
        background: #1ba4db;
        margin-top: 27px;
      }
      img {
        max-width: 100%;
        width: auto;
        height: auto;
        margin-top: 27px;
      }
      h3 {
        font-size: 1.8rem;
        line-height: 28px;
        padding: 0 0 5px;
        font-weight: bold;
        border-bottom: 1px solid #1ba4db;
        margin-top: 27px;
      }
    }
  }
}