@media screen and (min-width: 769px), print {
  .st_company .wrap {
    max-width: 829px;
  }
  .st_company .gr_company {
    margin: 50px auto 0;
  }
  .st_company .gr_company .tbl_company {
    width: 100%;
    border-collapse: collapse;
  }
  .st_company .gr_company .tbl_company tr:nth-child(odd) {
    background-color: #eeeeee;
  }
  .st_company .gr_company .tbl_company tr:nth-child(even) {
    background-color: #fff;
  }
  .st_company .gr_company .tbl_company tr th {
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: normal;
    text-align: left;
    padding: 10px 19px;
    border-right: 1px solid #fff;
  }
  .st_company .gr_company .tbl_company tr td {
    font-size: 1.3rem;
    line-height: 1.5;
    padding: 10px 19px;
  }
  .st_company .gr_company .tbl_company tr td .tel {
    pointer-events: none;
    color: #000;
  }
  .st_company .gr_company .tbl_company tr td .mail {
    color: #1ba4db;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .st_company .gr_company {
    margin: 6.66667vw 0;
  }
  .st_company .gr_company .tbl_company {
    width: 100%;
    border-collapse: collapse;
  }
  .st_company .gr_company .tbl_company tr:nth-child(odd) {
    background-color: #eeeeee;
  }
  .st_company .gr_company .tbl_company tr:nth-child(even) {
    background-color: #fff;
  }
  .st_company .gr_company .tbl_company tr:nth-child(even) th {
    border-bottom: 1px solid #eeeeee;
  }
  .st_company .gr_company .tbl_company tr th {
    font-size: 3.2vw;
    line-height: 5.86667vw;
    text-align: left;
    padding: 1.33333vw 2vw;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
  }
  .st_company .gr_company .tbl_company tr td {
    font-size: 3.2vw;
    line-height: 5.86667vw;
    padding: 1.33333vw 2vw;
    display: block;
    width: 100%;
  }
  .st_company .gr_company .tbl_company tr td .tel {
    color: #000;
  }
  .st_company .gr_company .tbl_company tr td .mail {
    color: #1ba4db;
    text-decoration: underline;
  }
}
