@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.service {
  padding: 40px 0 0;
  &_main {
    &_l {
      h2 {
        font-size: vw(30);
        line-height: 1;
        font-weight: bold;
        position: relative;
        padding-bottom: vw(34);
        padding-right: vw(75);
        display: inline-block;
        &::after {
          position: absolute;
          content: "";
          width: 5000%;
          right: 0;
          bottom: 0;
          background: #000;
          height: 1px;
        }
      }
      ul {
        margin-top: vw(50);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        li {
          width: vw(309);
          transition: opacity 0.3s ease;
          &:not(:nth-child(-n+2)) {
            margin-top: vw(40);
          }
          a {
            font-size: vw(23);
            line-height: vw(43);
            font-weight: bold;
            color: #000;
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
            width: 100%;
            figure {
              position: relative;
              font-size: 0;
              img {
                width: 100%;
                height: vw(309);
                object-fit: cover;
              }
              figcaption {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: vw(34);
                line-height: vw(44);
                text-transform: uppercase;
                font-family: $roboto;
                font-weight: bold;
                color: #fff;
                text-align: center;
                width: 100%;
                > img {
                  max-width: 80%;
                  width: auto;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}