@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.service {
  padding: 40px 0 0;
  &_main {
    display: flex;
    justify-content: center;
    &_l {
      width: 230px;
      margin-right: 50px;
      h2 {
        font-size: 2rem;
        line-height: 1;
        font-weight: bold;
        position: relative;
        padding-bottom: 34px;
        &::after {
          position: absolute;
          content: "";
          width: 5000%;
          right: 0;
          bottom: 0;
          background: #000;
          height: 1px;
        }
      }
      ul {
        margin-top: 25px;
        &.active {
          li {
            opacity: 1;
            transform: translate(0,0);
          }
        }
        li {
          display: block;
          opacity: 0;
          transition-property: all;
          transition-duration: 0.5s;
          transition-timing-function: ease;
          transform: translate(-50px,50px);
          a {
            font-size: 1.6rem;
            line-height: 4.2rem;
            font-weight: bold;
            color: #000;
            &:hover,&.active {
              color: #1ba4db;
            }
            figure {
              display: none;
            }
          }
        }
        &.active {
          li {
            opacity: 1;
          }
        }
      }
    }
    &_r {
      width: 430px;
      padding-top: 54px;
      .slide {
        width: 100%;
        overflow: hidden;
        height: 380px;
        position: relative;
        opacity: 0;
        transition: all 0.3s ease;
        &.active {
          opacity: 1;
        }
        ul {
          position: absolute;
          height: 100%;
          width: 100%;

          li {
            font-size: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            overflow: hidden;
            &:hover {
              img {
                transform: scale(1.05);
              }
            }
            img {
              width: 430px;
              height: 380px;
              object-fit: cover;
              transition: all 0.3s ease;
            }
          }
        }
        &::after {
          display: table;
          content: '';
          clear: both;
        }
      }
    }
  }
  &.fadeOut {
    position: relative;
    transform: translateY(-100vh);
    transition: all 1s ease;
    z-index: -1;
  }
}
.overlay {
  position: fixed;
  z-index: 99;
  background: #fff;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 100vh;
  transition: all 1s ease;
  &.active {
    opacity: 1;
    top: 0;
  }
}