@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_company{
  .gr_company{
    margin: vw(50) 0;
    .tbl_company{
      width: 100%;
      border-collapse: collapse;
      tr{
        &:nth-child(odd){
          background-color: #eeeeee;
        }
        &:nth-child(even){
          background-color: #fff;
          th{
            border-bottom: 1px solid #eeeeee;
          }
        }
        th{
          font-size: vw(24);
          line-height: vw(44);
          text-align: left;
          padding: vw(10) vw(15);
          border-bottom: 1px solid #fff;
          display: block;
          width: 100%;
        }
        td{
          font-size: vw(24);
          line-height: vw(44);
          padding: vw(10) vw(15);
          display: block;
          width: 100%;
          .tel{
            color: #000;
          }
          .mail{
            color: #1ba4db;
            text-decoration: underline;
          }
        }
      }
    }
  }
}