@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_company{
  .wrap{
    max-width: 829px;
  }
  .gr_company{
    margin: 50px auto 0;
    .tbl_company{
      width: 100%;
      border-collapse: collapse;
      tr{
        &:nth-child(odd){
          background-color: #eeeeee;
        }
        &:nth-child(even){
          background-color: #fff;
        }
        th{
          font-size: rem(13);
          line-height: 1.5;
          font-weight: normal;
          text-align: left;
          padding: 10px 19px;
          border-right: 1px solid #fff;
        }
        td{
          font-size: rem(13);
          line-height: 1.5;
          padding: 10px 19px;
          .tel{
            pointer-events: none;
            color: #000;
          }
          .mail{
            color: #1ba4db;
            text-decoration: underline;
          }
        }
      }
    }
  }
}