html {
  font-size: 10px; }

body {
  background: #fff;
  font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  color: #000000;
  font-size: 1.4rem;
  line-height: 2.4rem;
  overflow-x: hidden;
  font-weight: 300; }

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #000 -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0 0;
  margin: 0; }

.container {
  width: 100%;
  max-width: 866px; }

p {
  margin-bottom: 25px; }

input:focus {
  outline: none; }

a img {
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out; }
  a img:hover {
    opacity: 0.7; }

img {
  width: auto;
  max-width: 100%;
  vertical-align: top;
  height: auto; }

.header {
  text-align: center;
  }

.banner {
  height: 22.2rem;
  background-image: url("../images/banner.png");
  background-attachment: fixed;
  background-position: center 12%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 8rem; }
  .banner__main {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    background: rgba(27, 164, 219, 0.8);
    text-align: center;
    padding: 4rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    webkit-transform: translate(-50%, 50%);
    -khtml-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
    .banner__main h3 {
      font-size: 4rem;
      line-height: 5rem;
      font-family: "Roboto", sans-serif;
      font-weight: 700; }
    .banner__main span {
      font-size: 1.3rem;
      line-height: 2.3rem;
      color: #000;
      font-weight: 700; }

.img_top{
  margin-bottom: 50px;
}
.ttl_art{
  font-size: 19px;
  line-height: 30px;
  color: #00a0e9;
  font-weight: bold;
  border-bottom: 2px solid #00a0e9;
  padding-bottom: 10px;
  margin: 50px 0 20px;
}
.art_cts figure{
  text-align: center;
}
.art_cts p{
  margin-bottom: 30px;
}

/*============ CUSTOM=================*/
.bx_bt{
    position: relative;
    line-height: 0;
    width: 100%;
    background: #040459;
    padding: 15px 12px 10px;
    border-radius: 0;
    transition: all 400ms ease-in-out;
    border-bottom: 1rem solid #00003c;
    color: #fff;
    font-weight: 700;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    text-align: center;
    margin: 50px 0;
    em{
      font-style: normal;
      display: block;
      text-align: center;
      font-size: 18px;
      line-height: 24px;
      background-color: #eb6100;
      border-radius: 5px;
      padding: 10px 0;
    }
    button{
      font-size: 26px;
      line-height: 26px;
      color: #fff;
      font-weight: bold;
      display: block;
      margin: 25px auto 5px;
      text-align: center;
    }
}
.btn_grey{
  background-color: #6d6d6d;
  border-color: #535353;
  margin: 40px 0 10px;
  &:hover{
    opacity:0.8;
  }
}
.st_item{
  .gr_item{
    .item{
      &:not(:last-child){
        margin-bottom: 50px;
      }
      figure{
        img{
          width: 100%;
          height: auto;
        }
      }
      h4{
        font-size: 20px;
        line-height: 24px;
        font-weight: bold;
        color: #00a0e9;
        border-bottom: 1px solid #00a0e9;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
.st_arr figure {
  text-align: center;
  margin-bottom: 50px;
}
.st_arr figure img{
  max-width: 100%;
  width: auto;height: auto;
}
.st_arr h3{
  font-size: 18px;
  font-weight: bold;
  color: #49b6e2;
  line-height: 26px;
  text-align: center;
  margin-bottom: 30px;
}
.st_arr {
  p{
    margin-bottom: 30px;
  }
}
.st_scope{
  .bx_scope{
    border: 1px dashed #00a0e9;
    padding: 3rem;
    margin-bottom: 65px;
    figure{
      text-align: center;
      figcaption{
        margin-top: 20px;
      }
    }
    p{
      span{
        background-color: #fff45c;
        strong{
          font-weight: bold;
        }
      }
    }
  }
}
.st_addition{
  h3{
    font-size: 20px;
    color: #00a0e9;
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
  }
  .gr_fg{
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 30px -22px;
    figure{
      width: calc(33.33% - 22px);
      margin: 0 0 22px 22px;
      figcaption{
        display: block;
        background-color: #000;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        padding: 5px 0;
      }
    }
  }
}
.l_top{
  figure{
    padding-top: 100px;
    text-align: center;
  }
  .right{
    padding-left: 50px;
  }
}
.btn_bt_blue{
    position: relative;
    font-size: 2.6rem;
    line-height: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background: #040459;
    color: #fff;
    font-weight: 700;
    margin: 30px 0;
    &:hover{
      opacity:0.8;
    }
}
.l_center{
  p{
    font-size: 18px;
  }
}
/*============ END CUSTOM=================*/
.headBox {
  text-align: center;
  padding-bottom: 4rem;
  position: relative;
  margin-bottom: 3.2rem; }
  .headBox h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 4rem;
    font-size:1.8em;}
  .headBox span {
    color: #eb6100;
    font-weight: 700;
    }
  .headBox::after {
    content: '';
    width: 100%;
    max-width: 14.5rem;
    height: 1px;
    background: #00a0e9;
    position: absolute;
    bottom: 0;
    left: 50%;
    webkit-transform: translate(-50%, 0%);
    -khtml-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }

.lineQualification {
  padding-top: 4.8rem; }
  .lineQualification .thumb {
    margin-bottom: 9rem;
    margin-top: -1.3rem; }
  .lineQualification .postThumb {
    border: 1px dashed #00a0e9;
    padding: 3rem; }
    .lineQualification .postThumb h3 {
      font-size: 2.2rem;
      color: #49b6e2;
      font-weight: 700;
      margin-bottom: 1.5rem; }
      p{
        margin-bottom: 0;
      }
    .lineQualification .postThumb__thumb {
      padding-left: 0; }

.whyIsDrones {}
  .whyIsDrones .headBox {
    padding-bottom: 2.2rem; }
  .whyIsDrones .postThumbTitle {
    margin-bottom: 1.1rem;
    margin-top: 5.7rem; }
    .whyIsDrones .postThumbTitle h3 {
      text-align: center;
      font-size: 2rem;
      line-height: 3rem;
      padding: 1.6rem 1.5rem;
      font-weight: 700;
      color: #fff;
      background: #49b6e2;
      margin-bottom: 3rem; }
    .whyIsDrones .postThumbTitle__text {
      padding-left: 0; }
    .whyIsDrones .postThumbTitle .line {
      text-decoration: underline; }
      .whyIsDrones .postThumbTitle .line span {
        background: #fff45c;
        font-weight: 700;
        padding: 2px; }
  .whyIsDrones .thumb {
    margin-top: 6rem; }
  .whyIsDrones .arrow {
    text-align: center;
    padding: 7.5rem 0 4.2rem; }
  .whyIsDrones .postThumbOne .thumb {
    margin-bottom: 4.5rem;
    margin-top: 0; }
  .whyIsDrones .postThumbOne h3 {
    text-align: center;
    font-size: 2.2rem;
    line-height: 3.7rem;
    font-weight: 700;
    color: #00a0e9; }

.droneRelay {
  padding-top: 8rem; }
  .droneRelay .headBox {
    padding-bottom: 2.1rem; }
  .droneRelay .postThumbOne {
    margin-bottom: 4.2rem; }
    .droneRelay .postThumbOne .thumb {
      margin-bottom: 3.4rem; }
    .droneRelay .postThumbOne h3 {
      text-align: center;
      font-size: 2rem;
      line-height: 3.5rem;
      color: #000000; }
      .droneRelay .postThumbOne h3 span {
        font-weight: 700;
        color: #00a0e9; }

.regarding {
  padding-top: 7.7rem; }
  .regarding .headBox {
    padding-bottom: 2.1rem; }
  .regarding .note {
    font-size: 1.1rem;
    color: #707070;
    line-height: 1.8rem;
    padding-top: .6rem;
    margin-bottom: 3.5rem; }
    .regarding .note p {
      margin-bottom: 0; }
  .regarding .thumb {
    margin-bottom: 3.3rem; }

.lessonPrice {
  padding-top: 2.9rem; }
  .lessonPrice .container {
    border: 2px solid #1ba4db;
    padding: 0 0 5rem 0;
    max-width: 836px; }
    .lessonPrice .container > h3 {
      text-align: center;
      font-size: 2rem;
      line-height: 2rem;
      padding: 2.5rem 1.5rem;
      font-weight: 700;
      color: #fff;
      background: #49b6e2;
      margin-bottom: 2.4rem; }
  .lessonPrice__main {
    padding: 0 3.7rem; }
    .lessonPrice__main h3 {
      font-size: 2rem;
    font-weight: 700;
      color: #00a0e9;
      line-height: 3rem;
      border-bottom: 2px solid #00a0e9;
      padding-bottom: .9rem;
      display: inline-block;
      margin-bottom: 2rem; }
    .lessonPrice__main-postThumb {
      margin-bottom: 1.3rem; }
      .lessonPrice__main-postThumb .textBox {
        padding-left: 0;
    font-size:1.3em; }
      .lessonPrice__main-postThumb ul li {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        padding-left: 2.5rem;
        background-image: url("../images/number1.png");
        background-position: 0 5px;
        background-repeat: no-repeat; }
        .lessonPrice__main-postThumb ul li:nth-child(2) {
          background-image: url("../images/number2.png");
          background-position: 0 5px;
          background-repeat: no-repeat; }
        .lessonPrice__main-postThumb ul li:nth-child(3) {
          background-image: url("../images/number3.png");
          background-position: 0 5px;
          background-repeat: no-repeat; }
          .lessonPrice__main-postThumb ul li:nth-child(4) {
          background-image: url("../images/number4.png");
          background-position: 0 5px;
          background-repeat: no-repeat; }

    .lessonPrice__main-postThumbbg {
      background: #efefef;
      border-radius: 8px;
      padding: 6rem 5rem;
      margin-bottom: 5rem; }
      .lessonPrice__main-postThumbbg p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        font-weight: 700;
        margin-bottom: 0; }

      .lessonPrice__main-postThumbbg .thumb {
        position: relative;
        padding: 0; }
        .lessonPrice__main-postThumbbg .thumb .mainBox {
          position: absolute;
          top: -80px;
          left: -8px; }
    .lessonPrice__main-nav {
      display: flex;
      margin-bottom: 5.5rem; }
      .lessonPrice__main-nav ul {
        width: 100%; }
        .lessonPrice__main-nav ul li {
          font-size: 1.5rem;
          line-height: 2.5rem;
          color: #00a0e9;
          margin-bottom: 1rem; }
          .lessonPrice__main-nav ul li i {
            margin-right: .5rem; }
          .lessonPrice__main-nav ul li a {
            font-size: 1.6rem;
            line-height: 2.6rem;
            text-decoration: underline; }
    .lessonPrice__main .boxMore {
      text-align: center; }

.pageTop {
  text-align: center;
  padding: 5.5rem 0 8rem; }
  .pageTop img {
    margin-bottom: .5rem; }
  .pageTop span {
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    font-weight: 400;
  color: #747474;
    font-family: "Roboto", sans-serif; }

  .footer p {
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 2.2rem;
    text-align: center;
    color: #707070;
    font-family: "Roboto", sans-serif; }

/* layout - Responsive .
========================================================================== */
.sp {
  display: none; }

@media (max-width: 800px) {
  html {
    font-size: 9px; }
  p br {
    display: none; }
  .sp {
    display: block; }
  .pc {
    display: none; }
  .banner__main {
    max-width: 80%; }
  .whyIsDrones .postThumbTitle__text {
    padding: 0 15px; }
  .postThumbTitle__thumb {
    text-align: center;
    margin-bottom: 2rem; }
  .whyIsDrones .thumb {
    text-align: center; }
  .lessonPrice {
    padding: 0 15px; }
  .lessonPrice__main-postThumbbg .thumb .mainBox {
    position: static; }
  .lessonPrice__main-postThumbbg {
    padding: 2rem; }
  .lessonPrice__main-nav {
    display: block; }
    .lessonPrice__main-nav ul {
      width: 48%;
      display: inline-block; }
  .lineQualification .postThumb__thumb {
    padding: 0 15px; }
  .whyIsDrones .thumb {
    margin-top: 2rem; } }

@media (max-width: 768px) {
.l_top .right{
  padding-left: 0;
}
.l_top figure{
  padding: 30px 0;
}
.banner__main {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
    background: rgba(27, 164, 219, 0.8);
    text-align: center;
    padding: 2rem 1.5rem;
    position: absolute;
    bottom: 0;
  left: 50%;}
  .banner__main h3 {
    font-size: 1.8em; 
  line-height: 1.5;}
  .headBox h3 {
    font-size: 1.3em;
    line-height: 2em; }
    .headBox span {
    font-size: 1.3em;}
  .arrow img {
    max-width: 30%; }
  .whyIsDrones .postThumbTitle h3 {
    font-size: 15px; }
  .droneRelay .headBox h3 {
    font-size: 15px;
    line-height: 28px; }
  .lessonPrice__main {
    padding: 0 15px; }
  .lessonPrice__main-postThumbbg p {
    font-size: 1em;
    line-height: 1.8em; }
  .lessonPrice__main h3 {
    font-size: 14px; }
  .lessonPrice__main-nav ul li a {
    font-size: 12px; }
  .lessonPrice .container {
    padding-bottom: 20px; }
  .btn {
    font-size: 15px;
    padding: 20px 15px; } }


.container img{
  width: 100;
}

/*productページ*/




#product .header {
  text-align: center;
  }

#product .banner {
  height: 22.2rem;
  background-image: url("../images/banner_dronestoreplus.jpg");
  background-attachment: fixed;
  background-position: center 12%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color:#ffffff;
  margin-bottom: 8rem; }
  
 @media screen and (max-width: 820px) {
#product .banner {
  content: "";
    display: block;
position:top 20%;
  background: url("../images/banner_dronestoreplussp.jpg") no-repeat center center;
background-size: auto 450px;
    width: 100%;
}
  }
  
#product   .banner__main {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
  color:#ffffff;
    padding: 4rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    webkit-transform: translate(-50%, 50%);
    -khtml-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%); }
#product   .banner__main h3 {
      font-size: 4rem;
      line-height: 5rem;
      font-family: "Roboto", sans-serif;
      font-weight: 700; 
      color:#ffffff;}
    .banner__main span {
      font-size: 1.3rem;
      line-height: 2.3rem;
      font-weight: 700;
      color:#000;}

.headBox {
  text-align: center;
  padding-bottom: 4rem;
  position: relative;
  margin-bottom: 3.2rem;
  color:#ffffff;}
  .headBox h3 {
    font-weight: 700;
    line-height: 4rem;
    font-size:1.6em;}
  .headBox span {
    color: #eb6100;
    font-weight: 700;
  line-height: 4rem;
    font-size:1.6em;}
  .headBox::after {
    content: '';
    width: 100%;
    max-width: 14.5rem;
    height: 1px;
    background: #00a0e9;
    position: absolute;
    bottom: 0;
    left: 50%;
    webkit-transform: translate(-50%, 0%);
    -khtml-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); }

  .ac {
    text-align: center; }

  .pd {
    padding: 7.5rem 0 4.2rem; }


    .example h3 {
      font-size: 2rem;
    font-weight: 700;
      color: #00a0e9;
      line-height: 3rem;
      border-bottom: 2px solid #00a0e9;
      padding-bottom: .9rem;
      display: inline-block;
      margin-bottom: 2rem; }

    .example02 h3 {
      font-size: 2rem;
    font-weight: 700;
      color: #eb6100;
      line-height: 3rem;
      border-bottom: 2px solid #eb6100;
      padding-bottom: .9rem;
      display: inline-block;
      margin-bottom: 2rem; }

    .example02_02 {		
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 700;
    color: initial;
      color: #eb6100;
      margin: 1.5rem 0 0 1.5rem;
      float : left;}

    .example02_02 .link{		
      text-decoration: underline; }

  .ac {
  text-align: center;}	

  .notes {
  text-align:left;}	

  .mb50 {
  margin-bottom:50px;}	

  .snote {
  font-size:65%; 	
  font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-weight: 300; }

  .mt-20 {
  margin-top:-mt0px;}	


  .lineQualification .postThumb_solid {
    border: 3px solid #00a0e9;
    padding: 3rem; }
    .lineQualification .postThumb_solid h3 {
      font-size: 2.2rem;
      color: #49b6e2;
      font-weight: 700;
      margin-bottom: 1.5rem; }
    .lineQualification .postThumb__thumb {
      padding-left: 0; }

    .lineQualification.postThumb__thumb_right {
      padding-right: 0; }

 .col-md-7-2 {
    padding: 0 20px;
    max-width: 100%; }


 .lessonPrice__main-postThumb2 ul li {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 1rem;
      margin-left: 2rem;
        padding-left: 0;}

 .video{
width:100%;              /*横幅いっぱいにwidthを指定*/
padding-bottom: 56.25%;  /*高さをpaddingで指定(16:9)*/
height:0px;              /*高さはpaddingで指定するためheightは0に*/
position: relative;
}

.video iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.link:hover{
　opacity: 0.5 ;
}
@media screen and (max-width: 767px) {
  .st_scope .bx_scope figure{
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 570px) {
  .f_item figure{
    text-align: center;
    margin-bottom: 20px;
  }
  .st_item{
    .gr_item{
      .item{
        &:not(:last-child){
          margin-bottom: 50px;
        }
        figure{
          text-align: center;
          margin-bottom: 40px;
          img{
            max-width: 100%;
            width: auto;
            height: auto;
          }
        }
      }
    }
  }
}
@media screen and (max-width:480px) {
  .st_addition{
    .gr_fg{
      display: flex;
      flex-flow: row wrap;
      margin-left: -20px;
      figure{
        width: calc(50% - 20px);
        margin: 0 0 20px 20px;
      }
    }
  }
}