@media screen and (min-width: 769px), print {
  .ttl_art {
    font-size: 2.8rem;
    line-height: 1.5;
    position: relative;
    text-align: center;
    margin-bottom: 70px;
  }
  .ttl_art:after {
    content: "";
    width: 145px;
    height: 1px;
    background-color: #55bbe4;
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_about .wrap {
    max-width: 829px;
  }
  .st_about .gr_about {
    margin: 70px auto 50px;
  }
  .st_about .gr_about .logo_ab {
    text-align: center;
    margin-bottom: 40px;
  }
  .st_about .gr_about article:not(:last-child) {
    margin-bottom: 90px;
  }
  .st_about .gr_about article:first-of-type figure {
    margin: 40px 0;
  }
  .st_about .gr_about article .main_art p {
    font-size: 1.4rem;
    line-height: 24px;
  }
  .st_about .gr_about article .main_art figure {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .ttl_art {
    font-size: 4.53333vw;
    line-height: 1.5;
    position: relative;
    text-align: center;
    margin-bottom: 10.66667vw;
  }
  .ttl_art:after {
    content: "";
    width: 26.66667vw;
    height: 0.26667vw;
    background-color: #55bbe4;
    position: absolute;
    bottom: -1.33333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_about .gr_about {
    margin: 9.33333vw 0 6.66667vw;
  }
  .st_about .gr_about .logo_ab {
    text-align: center;
    margin-bottom: 5.33333vw;
  }
  .st_about .gr_about .logo_ab img {
    width: 55.33333vw;
    height: auto;
  }
  .st_about .gr_about article:not(:last-child) {
    margin-bottom: 12vw;
  }
  .st_about .gr_about article:first-of-type figure {
    margin: 5.33333vw 0 1.33333vw;
  }
  .st_about .gr_about article .main_art p {
    font-size: 3.2vw;
    line-height: 5.86667vw;
  }
  .st_about .gr_about article .main_art figure {
    text-align: center;
  }
}
