@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.btn_white{
  font-size: vw(18);
  line-height: 1;
  font-family: $lato;
  color: #000;
  width: vw(250);
  height: vw(63);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  background: rgba(255,255,255,0.75);
  margin: 0 auto 0;
  color: #000;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover{
    &:before{
      transform: scaleX(1);
    }
  }
}
.btn_black{
  font-size: vw(18);
  line-height: 1;
  font-family: $lato;
  color: #fff;
  width: vw(250);
  height: vw(63);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  background: #000;
  border: 1px solid #000;
  margin: 0 auto 0;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover{
    color: #000;
    &:before{
      transform: scaleX(1);
    }
  }
}
.video {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: -1;
}
.banner{
  position: relative;
  min-height: vw(480);
  .bx_fig{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(#000,0.15);
    h2{
      font-size: vw(30);
      line-height: 1;
      font-family: $lato;
      color: #fff;
      margin-bottom: vw(40);
      letter-spacing: vw(3);
      font-weight: normal;
    }
    p{
      font-size: vw(22);
      line-height: vw(20);
      color: #fff;
      margin-bottom: vw(36);
    }
    span {
    }
  }
}
.ctn_main{
  background: #fff;
  picture,figure{
    overflow: hidden;
    img{
      transition: all .5s;
    }
  }
  .bx_news{
    background-color: #fafafa;
    ul{
      padding: vw(19) 0;
      margin: vw(40) 0 vw(44);
    }
    li{
      a{
        font-size: vw(20);
        display: block;
        color: #000000;
        text-align: center;
      }
      time{
        margin-right: vw(34);
      }
      em{
        font-style: normal;
      }
    }
  }
  .item{
    position: relative;
    overflow: hidden;
    line-height: 0;
    figcaption{
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 0 vw(16) vw(16);
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 30%);
      span{
        font-size: vw(26);
        font-weight: bold;
        color: #fff;
        line-height: 1;
        margin-bottom: vw(11);
        display: block;
      }
      em{
        font-size: vw(18);
        line-height: 1.5;
        color: #fff;
        font-style: normal;
        display: block;
      }
    }
  }
  .bx_item{
    &.bx_top{
      padding-bottom: vw(50);
    }
    &.bx_center{
      background-color: #fafafa;
      padding: vw(60) 0;
    }
    .link{
      &_l{
        display: flex;
        margin-left: vw(-10);
        .g_item{
          width: calc(50% - #{vw(10)});
          margin-left: vw(10);
        }
      }
      &_r{
        width: 100%;
        margin-bottom: vw(10);
        article{
          position: relative;
          a{
            display: block;
            &:hover{
              .btn_black{
                color:#000;
                &:before{
                  transform: scaleX(1);
                }
              }
              img{
                transform: scale(1.03);
              }
            }
          }
          figure{
            line-height: 0;
          }
          .main_art{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: vw(63);
            h3{
              font-size: vw(50);
              line-height: 1;
              color: #fff;
              font-family: $lato;
              position: relative;
              letter-spacing: vw(3);
              margin-bottom: vw(70);
              &:after{
                content:"";
                width: vw(60);
                height: vw(3);
                position: absolute;
                bottom: vw(-36);
                left: 0;
                background-color: #fff;
              }
            }
            p{
              font-size: vw(24);
              line-height: vw(30);
              color: #fff;
              margin-bottom: vw(20);
            }
            em{
              font-size: vw(18);
              line-height: vw(30);
              color: #fff;
              margin-bottom: vw(45);
              font-style: normal;
              display: block;
            }
            .btn_black{
              margin: 0;
            }
          }
        }
      }
    }
  }
}
.bx_slider{
  margin-top: vw(40);
  .slider{
    position: relative;
    &:after{
      content: "";
      clear: both;
      display: table;
    }
    .slick-list {
      overflow: hidden;
      display: block;
      margin: 0 vw(20);
    }
    .slick-prev{
      background: url(../images/prev.png) left center no-repeat;
      background-size: contain;
      width: vw(72);
      height: vw(72);
      left: 0;
      border:none;
      position: absolute;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 9;
    }
    .slick-next{
      background: url(../images/next.png) right center no-repeat;
      background-size: contain;
      width: vw(72);
      height: vw(72);
      right: 0;
      border:none;
      position: absolute;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 9;
    }
    li{
      position: relative;
      float: left;
      padding: 0 vw(5);
      a{
        display: block;
        &:hover{
          .btn_black{
            color:#000;
            &:before{
              transform: scaleX(1);
            }
          }
          img{
            transform: scale(1.03);
          }
        }
        figure{
          position: relative;
          overflow: hidden;
          line-height: 0;
          img {
            width: 100%;
            height: auto;
          }
          figcaption{
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 0 vw(20) vw(20);
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 30%);
            span{
              font-size: vw(22);
              font-weight: bold;
              color: #fff;
              line-height: 1;
              margin-bottom: vw(10);
              display: block;
            }
            em{
              font-size: vw(18);
              line-height: 1.5;
              color: #fff;
              font-style: normal;
              display: block;
            }
          }
        }
      }
    }
  }
}

.st_sky{
  padding: vw(45) 0 vw(58);
  .sky_txt{
    text-align: center;
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-right:1px solid #000;
    min-height: vw(312);
    max-width: vw(674);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
      font-size: vw(30);
      line-height: 1;
      color: #000;
      margin-bottom: vw(36);
    }
    p{
      font-size: vw(22);
      line-height: vw(42);
      color: #08001e;
      margin-bottom: vw(35);
    }
  }
  picture{
    line-height: 0;
  }
}

.gr_list{
  &_l{
    article{
      &:not(:last-child){
        margin-bottom: vw(20);
      }
      a{
        display: block;
        position: relative;
        &:hover{
          .btn_black{
            color:#000;
            &:before{
              transform: scaleX(1);
            }
          }
          img{
            transform: scale(1.03);
          }
        }
        picture{
          line-height: 0;
        }
        .art_txt{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: vw(28);
          h3{
            font-size: vw(28);
            font-weight: bold;
            color: #fff;
            line-height: 1;
            margin-bottom: vw(10);
            display: block;
          }
          em{
            font-size: vw(22);
            line-height: 1.5;
            color: #fff;
            font-style: normal;
            display: block;
          }
        }
      }
    }
  }
}

.gr_social{
  padding: vw(60) 0;
  &_l{
    display: flex;
    margin-left: vw(-20);
    li{
      width: calc(33.33% - #{vw(20)});
      margin-left: vw(20);
      a{
        width: auto;
        height: vw(188);
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover{
          opacity: 0.7;
          figure{
            transform: rotateZ(360deg);
          }
        }
        figure{
          margin-bottom: vw(21);
          transition:  0.6s ease-out;
          img{
            width: vw(61);
            height: vw(61);
          }
        }
        h4{
          font-size: vw(26);
          line-height: 1;
          display: block;
          color: #000;
          margin-bottom: vw(15);
        }
        em{
          font-style: normal;
          font-size: vw(18);
          line-height: 1;
          color: #898989;
          display: block;
        }
      }
    }
  }
}

.st_contact{
  .bx_contact{
    position: relative;
    a{
      display: block;
      &:hover{
        .btn_white{
          color:#000;
          &:before{
            transform: scaleX(1);
          }
        }
        img{
          transform: scale(1.03);
        }
      }
    }
    picture{
      line-height: 0;
    }
    img{
      width: 100%;
      height: auto;
    }
    .bx_fig{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 100%;
      h2{
        font-size: vw(30);
        line-height: 1;
        font-family: $lato;
        color: #fff;
        margin-bottom: vw(25);
        letter-spacing: vw(3);
        font-weight: normal;
      }
      p{
        font-size: vw(22);
        line-height: vw(34);
        color: #fff;
        margin-bottom: vw(28);
      }
    }
  }
  .fv_slider{
    width: 100%;
    height: auto;
    .main_carousel {
      height: vw(143);
      overflow: hidden;
      position: relative;
      ul {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        li {
          width: vw(200);
          line-height: 0;
          img{
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(#000,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 999;
  &.open {
    opacity: 1;
    visibility: visible;
    .main_popup {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  .main_popup {
    visibility: hidden;
    position: relative;
    transform: translateY(100px);
    transition: all 0.3s ease;
    text-align: left;
    width: 100%;
    max-width: 100%;
    video {
      width: 100%;
      height: auto;
    }
    .close {
      position: absolute;
      z-index: 2;
      top: -35px;
      right: -35px;
      display: inline-block;
      text-indent: -9999px;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border: none;
      background: transparent;
      display: none;
      &::before,&::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #fff;
        border-radius: 5px;
        margin-top: -6px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}