@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.btn_white{
  font-size: rem(14);
  line-height: 1;
  font-family: $lato;
  color: #000;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  background: rgba(255,255,255,0.75);
  margin: 0 auto 0;
  color: #000;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover{
    &:before{
      transform: scaleX(1);
    }
  }
}
.btn_black{
  font-size: rem(14);
  line-height: 1;
  font-family: $lato;
  color: #fff;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  background: #000;
  border: 1px solid #000;
  margin: 0 auto 0;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover{
    color: #000;
    &:before{
      transform: scaleX(1);
    }
  }
}
.video {
  position: fixed;
  height: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  @media screen and (max-aspect-ratio: 16/9) {
    height: 100%;
    width: auto;
  }
}
.banner{
  position: relative;
  height: calc(100vh - 150px);
  .bx_fig{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateZ(0);
    background: rgba(#000,0.15);
    h2{
      font-size: rem(38);
      line-height: 1;
      font-family: $lato;
      color: #fff;
      margin-bottom: 35px;
      letter-spacing: 2px;
      font-weight: normal;
    }
    p{
      font-size: rem(18);
      line-height: 27px;
      color: #fff;
      margin-bottom: 33px;
    }
    span {
      cursor: pointer;
    }
  }
}
.ctn_main{
  background: #fff;
  picture,figure{
    overflow: hidden;
    img{
      transition: all .5s;
    }
  }
  .bx_news{
    padding-top: 40px;
    ul{
      background-color: #fafafa;
      padding: 12px 20px;
      margin: 0 0 35px;
      overflow: hidden;
    }
    li{
      text-align: center;
      width: 100%;
      a{
        font-size: rem(14);
        display: inline-block;
        color: #000000;
        text-overflow: ellipsis;
        word-wrap: break-word;
        white-space: nowrap;
        outline: none;
      }
      time{
        margin-right: 25px;
      }
      em{
        font-style: normal;
      }
    }
  }
  .item{
    position: relative;
    overflow: hidden;
    line-height: 0;
    figcaption{
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0 0 20px 15px;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 30%);
      span{
        font-size: rem(24);
        font-weight: bold;
        color: #fff;
        line-height: 1;
        margin-bottom: 5px;
        display: block;
      }
      em{
        font-size: rem(14);
        line-height: 1.5;
        color: #fff;
        font-style: normal;
        display: block;
      }
    }
  }
  .bx_item{
    &.bx_top{
      padding-bottom: 90px;
      .link{
        &_l{
          order: 1;
          padding: 0 10px 0 0;
        }
        &_r{
          order: 2;
        }
      }
    }
    &.bx_center{
      background-color: #fafafa;
      padding: 90px 0;
    }
    .link{
      display: flex;
      justify-content: space-between;
      &_l{
        width: calc(100% - 800px);
        padding-left: 10px;
        .g_item{
          margin-bottom: 10px;
          a{
            display: block;
            &:hover{
              .btn_black{
                color:#000;
                &:before{
                  transform: scaleX(1);
                }
              }
              img{
                transform: scale(1.03);
              }
            }
          }
        }
      }
      &_r{
        width: 800px;
        article{
          position: relative;
          a{
            display: block;
            &:hover{
              .btn_black{
                color:#000;
                &:before{
                  transform: scaleX(1);
                }
              }
              img{
                transform: scale(1.03);
              }
            }
          }
          figure{
            line-height: 0;
          }
          .main_art{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 90px;
            h3{
              font-size: rem(38);
              line-height: 1;
              color: #fff;
              font-family: $lato;
              position: relative;
              letter-spacing: 2px;
              margin-bottom: 52px;
              &:after{
                content:"";
                width: 40px;
                height: 2px;
                position: absolute;
                bottom: -24px;
                left: 0;
                background-color: #fff;
              }
            }
            p{
              font-size: rem(16);
              line-height: 20px;
              color: #fff;
              margin-bottom: 18px;
            }
            em{
              font-size: rem(12);
              line-height: 20px;
              color: #fff;
              margin-bottom: 30px;
              font-style: normal;
              display: block;
            }
            .btn_black{
              margin: 0;
            }
          }
        }
      }
    }
  }
}
.bx_slider{
  margin-top: 20px;
  .slider{
    position: relative;
    &:after{
      content: "";
      clear: both;
      display: table;
    }
    .slick-list {
      margin: 0 -10px 0;
      overflow: hidden;
      display: block;

    }
    .slick-prev{
      background: url(../images/prev.png) left center no-repeat;
      width: 71px;
      height: 71px;
      left: -38px;
      border:none;
      position: absolute;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 9;
    }
    .slick-next{
      background: url(../images/next.png) right center no-repeat;
      width: 71px;
      height: 71px;
      right: -38px;
      border:none;
      position: absolute;
      border: 0;
      box-shadow: none;
      outline: none;
      text-indent: -9999px;
      overflow: hidden;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 9;
    }
    li{
      position: relative;
      float: left;
      padding: 0 10px;
      a{
        display: block;
        &:hover{
          .btn_black{
            color:#000;
            &:before{
              transform: scaleX(1);
            }
          }
          img{
            transform: scale(1.03);
          }
        }
        figure{
          position: relative;
          overflow: hidden;
          line-height: 0;
          img {
            width: 100%;
            height: 214px;
            object-fit: cover;
          }
          figcaption{
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 0 0 20px 15px;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 30%);
            span{
              font-size: rem(20);
              font-weight: bold;
              color: #fff;
              line-height: 1;
              margin-bottom: 5px;
              display: block;
            }
            em{
              font-size: rem(14);
              line-height: 1.5;
              color: #fff;
              font-style: normal;
              display: block;
            }
          }
        }
      }
    }
  }
}

.st_sky{
  padding: 85px 0 110px;
  a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
      .btn_black{
        color:#000;
        &:before{
          transform: scaleX(1);
        }
      }
      img{
        transform: scale(1.03);
      }
    }
  }
  .sky_txt{
    text-align: center;
    border-top:1px solid #000;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
    width: calc(100% - 720px);
    min-height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3{
      font-size: rem(26);
      line-height: 1;
      color: #000;
      margin-bottom: 24px;
    }
    p{
      font-size: rem(14);
      line-height: 28px;
      color: #08001e;
      margin-bottom: 33px;
    }
  }
  picture{
    width: 720px;
    line-height: 0;
  }
}

.gr_list{
  &_l{
    display: flex;
    margin-left: -15px;
    article{
      width: calc(33.33% - 15px);
      margin-left: 15px;
      a{
        display: block;
        position: relative;
        &:hover{
          .btn_black{
            color:#000;
            &:before{
              transform: scaleX(1);
            }
          }
          img{
            transform: scale(1.03);
          }
        }
        picture{
          line-height: 0;
        }
        .art_txt{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 15px;
          h3{
            font-size: rem(24);
            font-weight: bold;
            color: #fff;
            line-height: 1;
            margin-bottom: 5px;
            display: block;
          }
          em{
            font-size: rem(14);
            line-height: 1.5;
            color: #fff;
            font-style: normal;
            display: block;
          }
        }
      }
    }
  }
}

.gr_social{
  padding: 62px 0 59px;
  .row{
    max-width: 810px;
    padding: 0 7px;
  }
  &_l{
    display: flex;
    margin-left: -30px;
    li{
      width: calc(33.33% - 30px);
      margin-left: 30px;
      a{
        width: 245px;
        height: 213px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &:hover{
          opacity: 0.7;
          figure{
            transform: rotateZ(360deg);
          }
        }
        figure{
          margin-bottom: 24px;
          transition:  0.6s ease-out;
        }
        h4{
          font-size: rem(22);
          line-height: 1;
          display: block;
          color: #000;
          margin-bottom: 9px;
        }
        em{
          font-style: normal;
          font-size: rem(12);
          line-height: 1;
          color: #898989;
          display: block;
        }
      }
    }
  }
}

.st_contact{
  .bx_contact{
    position: relative;
    a{
      display: block;
      &:hover{
        .btn_white{
          color:#000;
          &:before{
            transform: scaleX(1);
          }
        }
        img{
          transform: scale(1.03);
        }
      }
    }
    picture{
      line-height: 0;
    }
    img{
      width: 100%;
      height: auto;
    }
    .bx_fig{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      h2{
        font-size: rem(38);
        line-height: 1;
        font-family: $lato;
        color: #fff;
        margin-bottom: 35px;
        letter-spacing: 2px;
        font-weight: normal;
      }
      p{
        font-size: rem(18);
        line-height: 27px;
        color: #fff;
        margin-bottom: 33px;
      }
    }
  }
  .fv_slider{
    width: 100%;
    height: auto;
    .main_carousel {
      height: 152px;
      overflow: hidden;
      position: relative;
      ul {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        li {
          width: 179px;
          // margin: 0 8px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  background: rgba(#000,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  z-index: 999;
  &.open {
    opacity: 1;
    visibility: visible;
    .main_popup {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }
  .main_popup {
    visibility: hidden;
    position: relative;
    transform: translateY(100px);
    transition: all 0.3s ease;
    text-align: left;
    width: 900px;
    max-width: 100%;
    video {
      width: 100%;
      height: auto;
    }
    .close {
      position: absolute;
      z-index: 2;
      top: -35px;
      right: -35px;
      display: inline-block;
      text-indent: -9999px;
      width: 35px;
      height: 35px;
      overflow: hidden;
      border: none;
      background: transparent;
      &::before,&::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #fff;
        border-radius: 5px;
        margin-top: -6px;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}