@charset "UTF-8";
/* Layout - Structure and layout files.
========================================================================== */
/* -------------------->>> COMMON <<<-------------------- */
html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: "游ゴシック", "Yu Gothic", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  color: #000000;
  font-size: 1.4rem;
  line-height: 2.4rem;
  overflow-x: hidden;
  font-weight: 300;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #000 -moz-use-text-color -moz-use-text-color;
  -webkit-border-image: none;
     -moz-border-image: none;
          border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 866px;
}

p {
  margin-bottom: 25px;
}

input:focus {
  outline: none;
}

a img {
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

a img:hover {
  opacity: 0.7;
}

img {
  width: auto;
  max-width: 100%;
  vertical-align: top;
  height: auto;
}

.header {
  text-align: center;
}

.gr_controller {
  margin-bottom: 65px;
}

.gr_controller .i_top figure {
  margin-bottom: 20px;
  line-height: 0;
}

.gr_controller .i_top figure img {
  width: 100%;
  height: auto;
}

.gr_controller .i_top figure figcaption {
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  font-weight: bold;
  background-color: #eb6100;
  padding: 12px;
  text-align: center;
}

.b_price .lessonPrice__main-postThumbbg {
  margin-bottom: 0;
  padding: 4rem 3rem;
}

.b_price .lessonPrice__main-postThumbbg .thumb .mainBox {
  position: absolute;
  top: -49px;
  left: -8px;
}

.b_price dl:not(:last-child) {
  margin-bottom: 10px;
}

.b_price dl dt {
  font-size: 20px;
  line-height: 24px;
  color: #00a2e6;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #efefef;
  margin-bottom: 10px;
}

.b_price dl dd {
  font-size: 18px;
  line-height: 36px;
}

.gr_infor_other .item h3 {
  font-size: 18px;
  line-height: 48px;
  font-weight: bold;
  color: #eb6100;
}

.banner {
  height: 22.2rem;
  background-image: url("../images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
       background-size: cover;
  position: relative;
  margin-bottom: 8rem;
}

.banner__main {
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  background: rgba(27, 164, 219, 0.8);
  text-align: center;
  padding: 4rem 1.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  webkit-transform: translate(-50%, 50%);
  -khtml-transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
     -moz-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
}

.banner__main h3 {
  font-size: 4rem;
  line-height: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.banner__main span {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-weight: 700;
}

.headBox {
  text-align: center;
  padding-bottom: 4rem;
  position: relative;
  margin-bottom: 3.2rem;
}

.headBox h3 {
  font-weight: 700;
  margin-bottom: 1rem;
  line-height: 4.8rem;
}

.headBox span {
  color: #eb6100;
  font-weight: 700;
  font-size: 2em;
}

.headBox::after {
  content: '';
  width: 100%;
  max-width: 14.5rem;
  height: 1px;
  background: #00a0e9;
  position: absolute;
  bottom: 0;
  left: 50%;
  webkit-transform: translate(-50%, 0%);
  -khtml-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
     -moz-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.lineQualification {
  padding-top: 4.8rem;
}

.lineQualification .thumb {
  margin-bottom: 9rem;
  margin-top: -1.3rem;
}

.lineQualification .postThumb {
  border: 1px dashed #00a0e9;
  padding: 3rem;
}

.lineQualification .postThumb h3 {
  font-size: 2.2rem;
  color: #49b6e2;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.lineQualification .postThumb__thumb {
  padding-left: 0;
}

.whyIsDrones {
  padding-top: 8rem;
}

.whyIsDrones .headBox {
  padding-bottom: 2.2rem;
}

.whyIsDrones .postThumbTitle {
  margin-bottom: 1.1rem;
  margin-top: 5.7rem;
}

.whyIsDrones .postThumbTitle h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  padding: 1.6rem 1.5rem;
  font-weight: 700;
  color: #fff;
  background: #49b6e2;
  margin-bottom: 3rem;
}

.whyIsDrones .postThumbTitle__text {
  padding-left: 0;
}

.whyIsDrones .postThumbTitle .line {
  text-decoration: underline;
}

.whyIsDrones .postThumbTitle .line span {
  background: #fff45c;
  font-weight: 700;
  padding: 2px;
}

.whyIsDrones .thumb {
  margin-top: 6rem;
}

.whyIsDrones .arrow {
  text-align: center;
  padding: 7.5rem 0 4.2rem;
}

.whyIsDrones .postThumbOne .thumb {
  margin-bottom: 4.5rem;
  margin-top: 0;
}

.whyIsDrones .postThumbOne h3 {
  text-align: center;
  font-size: 2.2rem;
  line-height: 3.7rem;
  font-weight: 700;
  color: #00a0e9;
}

.droneRelay {
  padding-top: 8rem;
}

.droneRelay .headBox {
  padding-bottom: 2.1rem;
}

.droneRelay .postThumbOne {
  margin-bottom: 4.2rem;
}

.droneRelay .postThumbOne .thumb {
  margin-bottom: 3.4rem;
}

.droneRelay .postThumbOne h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  color: #000000;
}

.droneRelay .postThumbOne h3 span {
  font-weight: 700;
  color: #00a0e9;
}

.regarding {
  padding-top: 7.7rem;
}

.regarding .headBox {
  padding-bottom: 2.1rem;
}

.regarding .note {
  font-size: 1.1rem;
  color: #707070;
  line-height: 1.8rem;
  padding-top: .6rem;
  margin-bottom: 3.5rem;
}

.regarding .note p {
  margin-bottom: 0;
}

.regarding .thumb {
  margin-bottom: 3.3rem;
}

.lessonPrice {
  padding-top: 2.9rem;
}

.lessonPrice .container {
  border: 2px solid #1ba4db;
  padding: 0 0 5rem 0;
  max-width: 836px;
}

.lessonPrice .container > h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  padding: 1.5rem 1.5rem;
  font-weight: 700;
  color: #fff;
  background: #49b6e2;
  margin-bottom: 2.4rem;
}

.lessonPrice__main {
  padding: 0 3.7rem;
}

.lessonPrice__main h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #00a0e9;
  line-height: 3rem;
  border-bottom: 2px solid #00a0e9;
  padding-bottom: .9rem;
  display: inline-block;
  margin-bottom: 2rem;
}

.lessonPrice__main-postThumb {
  margin-bottom: 1.3rem;
}

.lessonPrice__main-postThumb .textBox {
  padding-left: 0;
}

.lessonPrice__main-postThumb ul li {
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  padding-left: 2.5rem;
  background-image: url("../images/number1.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
}

.lessonPrice__main-postThumb ul li:nth-child(2) {
  background-image: url("../images/number2.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
}

.lessonPrice__main-postThumb ul li:nth-child(3) {
  background-image: url("../images/number3.png");
  background-position: 0 5px;
  background-repeat: no-repeat;
}

.lessonPrice__main-postThumbbg {
  background: #efefef;
  -moz-border-radius: 8px;
       border-radius: 8px;
  padding: 6rem 5rem;
  margin-bottom: 5rem;
}

.lessonPrice__main-postThumbbg p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin-bottom: 0;
}

.lessonPrice__main-postThumbbg .thumb {
  position: relative;
  padding: 0;
}

.lessonPrice__main-postThumbbg .thumb .mainBox {
  position: absolute;
  top: -80px;
  left: -8px;
}

.lessonPrice__main-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5.5rem;
}

.lessonPrice__main-nav ul {
  width: 100%;
}

.lessonPrice__main-nav ul li {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #00a0e9;
  margin-bottom: 1rem;
}

.lessonPrice__main-nav ul li i {
  margin-right: .5rem;
}

.lessonPrice__main-nav ul li a {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-decoration: underline;
}

.lessonPrice__main .boxMore {
  text-align: center;
}

.pageTop {
  text-align: center;
  padding: 5.5rem 0 8rem;
}

.pageTop img {
  margin-bottom: .5rem;
}

.pageTop span {
  display: block;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #747474;
  font-family: "Roboto", sans-serif;
}

.footer p {
  margin-bottom: 0;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: center;
  color: #707070;
  font-family: "Roboto", sans-serif;
}

/* layout - Responsive .
========================================================================== */
.sp {
  display: none;
}

@media (max-width: 767px) {
  .gr_broad {
    margin-bottom: 30px;
  }
  .b_price .lessonPrice__main-postThumbbg {
    margin-bottom: 40px;
    padding: 5rem 3rem;
  }
  .b_price .lessonPrice__main-postThumbbg p {
    font-size: 16px;
    line-height: 26px;
  }
  .b_price .lessonPrice__main-postThumbbg .thumb {
    margin-bottom: 0;
  }
  .b_price .lessonPrice__main-postThumbbg .thumb .mainBox {
    position: static;
  }
  html {
    font-size: 9px;
  }
  p br {
    display: none;
  }
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
  .banner__main {
    max-width: 80%;
  }
  .whyIsDrones .postThumbTitle__text {
    padding: 0 15px;
  }
  .postThumbTitle__thumb {
    text-align: center;
    margin-bottom: 2rem;
  }
  .whyIsDrones .thumb {
    text-align: center;
  }
  .lessonPrice {
    padding: 0 15px;
  }
  .lessonPrice__main-postThumbbg .thumb .mainBox {
    position: static;
  }
  .lessonPrice__main-postThumbbg {
    padding: 2rem;
  }
  .lessonPrice__main-nav {
    display: block;
  }
  .lessonPrice__main-nav ul {
    width: 48%;
    display: inline-block;
  }
  .lineQualification .postThumb__thumb {
    padding: 0 15px;
  }
  .whyIsDrones .thumb {
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .banner__main {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
    background: rgba(27, 164, 219, 0.8);
    text-align: center;
    padding: 2rem 1.5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
  .banner__main h3 {
    font-size: 1.8em;
    line-height: 1.5;
  }
  .headBox h3 {
    font-size: 1.3em;
    line-height: 2em;
  }
  .headBox span {
    font-size: 1.3em;
  }
  .arrow img {
    max-width: 30%;
  }
  .whyIsDrones .postThumbTitle h3 {
    font-size: 15px;
  }
  .droneRelay .headBox h3 {
    font-size: 15px;
    line-height: 28px;
  }
  .lessonPrice__main {
    padding: 0 15px;
  }
  .lessonPrice__main-postThumbbg p {
    font-size: 7px;
    line-height: 18px;
  }
  .lessonPrice__main h3 {
    font-size: 14px;
  }
  .lessonPrice__main-nav ul li a {
    font-size: 12px;
  }
  .lessonPrice .container {
    padding-bottom: 20px;
  }
  .btn {
    font-size: 15px;
    padding: 20px 15px;
  }
}

.container img {
  width: 100;
}

 @media screen and (max-width: 820px) {
.banner {
  content: "";
    display: block;
 background-position: 10% 0%;
  position: relative;
  background: url("../images/bannersp.jpg") no-repeat center center;
background-size: 100% auto;

}
  }
  
  .example h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #00a0e9;
  line-height: 3rem;
  border-bottom: 2px solid #00a0e9;
  padding-bottom: .9rem;
  display: inline-block;
  margin-bottom: 2rem;
}
