@media screen and (min-width: 769px), print {
  .st_privacy .wrap {
    max-width: 829px;
  }
  .st_privacy .gr_privacy {
    margin: 50px auto;
  }
  .st_privacy .gr_privacy p {
    font-size: 1.5rem;
    line-height: 29px;
  }
  .st_privacy .gr_privacy .mg_bt {
    margin-bottom: 20px;
  }
  .st_privacy .gr_privacy_top .time {
    font-size: 1.4rem;
    color: #7d7d7d;
    line-height: 28px;
  }
  .st_privacy .gr_privacy_top .time time {
    margin-left: 10px;
  }
  .st_privacy .gr_privacy_top_l {
    margin: 20px 0;
    counter-reset: li;
  }
  .st_privacy .gr_privacy_top_l li {
    font-size: 1.5rem;
    line-height: 29px;
    position: relative;
    padding-left: 30px;
  }
  .st_privacy .gr_privacy_top_l li:before {
    counter-increment: li;
    content: counter(li) ".";
    position: absolute;
    top: 0;
    left: 0;
  }
  .st_privacy .gr_privacy_top_btt {
    text-align: right;
    margin-top: 30px;
  }
  .st_privacy .gr_privacy_top_btt span {
    font-size: 1.6rem;
    line-height: 29px;
    display: block;
  }
  .st_privacy .gr_privacy_top_btt em {
    font-size: 1.8rem;
    line-height: 29px;
    display: block;
    font-style: normal;
  }
  .st_privacy .gr_privacy_bottom article {
    margin-top: 40px;
  }
  .st_privacy .gr_privacy_bottom article .tt_pr {
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    background-color: #1ba4db;
    padding: 12px 16px;
    margin-bottom: 25px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl {
    margin-bottom: 20px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dt {
    font-size: 1.5rem;
    color: #1ba4db;
    line-height: 29px;
    margin-bottom: 5px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub {
    margin: 20px 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub h4 {
    font-size: 1.8rem;
    line-height: 24px;
    border-bottom: 1px solid #1ba4db;
    padding-bottom: 10px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub_s {
    margin: 20px 0;
    padding-left: 70px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub_s dl dt {
    font-size: 1.5rem;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .list_nb {
    margin: 20px 0;
    counter-reset: li;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .list_nb li {
    font-size: 1.5rem;
    line-height: 29px;
    position: relative;
    padding-left: 45px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .list_nb li:before {
    counter-increment: li;
    content: "( " counter(li) " )";
    position: absolute;
    top: 0;
    left: 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_add {
    margin-top: 30px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_add .mail {
    color: #000;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .tel {
    color: #000;
    pointer-events: none;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l {
    padding-left: 70px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l .list_n {
    margin: 30px 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l .list_n li {
    font-size: 1.5rem;
    line-height: 29px;
    position: relative;
    padding-left: 25px;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l .list_n li span {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 768px) {
  .st_privacy .gr_privacy {
    margin: 6.66667vw 0;
  }
  .st_privacy .gr_privacy p {
    font-size: 3.2vw;
    line-height: 5.86667vw;
  }
  .st_privacy .gr_privacy .mg_bt {
    margin-bottom: 4vw;
  }
  .st_privacy .gr_privacy_top .time {
    font-size: 3.2vw;
    color: #7d7d7d;
    line-height: 1;
    margin-bottom: 2.66667vw;
    display: block;
  }
  .st_privacy .gr_privacy_top .time time {
    margin-left: 2.66667vw;
  }
  .st_privacy .gr_privacy_top_l {
    margin: 2.66667vw 0;
    counter-reset: li;
  }
  .st_privacy .gr_privacy_top_l li {
    font-size: 3.2vw;
    line-height: 5.86667vw;
    position: relative;
    padding-left: 4vw;
  }
  .st_privacy .gr_privacy_top_l li:before {
    counter-increment: li;
    content: counter(li) ".";
    position: absolute;
    top: 0;
    left: 0;
  }
  .st_privacy .gr_privacy_top_btt {
    text-align: right;
    margin-top: 5.33333vw;
  }
  .st_privacy .gr_privacy_top_btt span {
    font-size: 3.46667vw;
    line-height: 5.86667vw;
    display: block;
  }
  .st_privacy .gr_privacy_top_btt em {
    font-size: 3.73333vw;
    line-height: 5.86667vw;
    display: block;
    font-style: normal;
  }
  .st_privacy .gr_privacy_bottom article {
    margin-top: 5.33333vw;
  }
  .st_privacy .gr_privacy_bottom article .tt_pr {
    font-size: 4vw;
    line-height: 1;
    color: #fff;
    background-color: #1ba4db;
    padding: 2vw 2.66667vw;
    margin-bottom: 4vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl {
    margin-bottom: 4vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dt {
    font-size: 3.2vw;
    color: #1ba4db;
    line-height: 5.86667vw;
    margin-bottom: 0.66667vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub {
    margin: 2.66667vw 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub h4 {
    font-size: 3.2vw;
    line-height: 5.86667vw;
    border-bottom: 1px solid #1ba4db;
    padding-bottom: 1.33333vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub_s {
    margin: 2.66667vw 0;
    padding-left: 4vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_sub_s dl dt {
    font-size: 3.2vw;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .list_nb {
    margin: 2.66667vw 0;
    counter-reset: li;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .list_nb li {
    font-size: 3.2vw;
    line-height: 5.86667vw;
    position: relative;
    padding-left: 8vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .list_nb li:before {
    counter-increment: li;
    content: "( " counter(li) " )";
    position: absolute;
    top: 0;
    left: 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_add {
    margin-top: 4vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_add .mail {
    color: #000;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .tel {
    color: #000;
    display: inline-block;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l {
    padding-left: 4vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l .list_n {
    margin: 2.66667vw 0;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l .list_n li {
    font-size: 3.2vw;
    line-height: 5.86667vw;
    position: relative;
    padding-left: 4.66667vw;
  }
  .st_privacy .gr_privacy_bottom article .main_art dl dd .bx_pd_l .list_n li span {
    position: absolute;
    top: 0;
    left: 0;
  }
}
