@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}

.container {
  min-width: 1200px;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.breadcrumb{
  margin-top: 20px;
  li{
    font-size: rem(11);
    line-height: 1;
    position: relative;
    color: #7d7d7d;
    display: inline-block;
    &:not(:last-child){
      margin-right: 15px;
      &:after{
        content:">";
        font-size: rem(11);
        line-height: 1;
        position: absolute;
        top: -1px;
        right: -13px;
        font-family: $roboto;
      }
    }
    a{
      font-size: rem(11);
      line-height: 1;
      color: #7d7d7d;
    }
  }
}

@keyframes marqueeRL {
  from {
    -webkit-transform: translate(0);
       -moz-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-140%);
       -moz-transform: translate(-140%);
            transform: translate(-140%);
  }
}


@-webkit-keyframes marqueeRL {
  from {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  to {
    -webkit-transform: translate(-140%);
            transform: translate(-140%);
  }
}

@-moz-keyframes marqueeRL {
  from {
    -moz-transform: translate(0);
         transform: translate(0);
  }
  to {
    -moz-transform: translate(-140%);
         transform: translate(-140%);
  }
}