@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
// ===================================================================
img {
  width: 100%;
  height: auto;
}

.row {
  padding: 0 vw(17);
}

.breadcrumb{
  margin-top: vw(30);
  li{
    font-size: vw(22);
    line-height: 1;
    position: relative;
    color: #7d7d7d;
    display: inline-block;
    &:not(:last-child){
      margin-right: vw(25);
      &:after{
        content:">";
        font-size: vw(22);
        line-height: 1;
        position: absolute;
        top: vw(-2);
        right: vw(-20);
        font-family: $roboto;
      }
    }
    a{
      font-size: vw(22);
      line-height: 1;
      color: #7d7d7d;
    }
  }
}

.show_pc {
  display: none!important;
}