footer{
  background: #fff;
  .bx_footer{
    padding: vw(113) 0 0;
    text-align: center;
    .pagetop{
      font-size: vw(15);
      color: #7f7f7f;
      line-height: 1;
      font-weight: bold;
      position: relative;
      display: inline-block;
      margin-bottom: vw(68);
      &:before{
        content:"";
        background: url(../images/icon_pagetop.png) no-repeat;
        background-size: contain;
        width: vw(48);
        height: vw(42);
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: vw(-55);
        transform: translateX(-50%);
        transition: all 1s;
        animation: hvr-icon-bob 1.5s infinite;
      }
    }
    .nav_ft{
      margin-bottom: vw(20);
      li{
        display: inline-block;
        position: relative;
        &:not(:last-child){
          margin-right: vw(28);
          &:after{
            content:"|";
            font-size: vw(18);
            color: #7f7f7f;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: vw(-18);
            padding-bottom: vw(5);
            line-height: 1;
          }
        }
        a{
          color: #7f7f7f;
          font-size: vw(18);
          line-height: 1;
          &:hover{
            color: #1ba4db;
          }
        }
      }
    }
  }
  .copyright{
    font-size: vw(18);
    line-height: 1;
    text-align: center;
    color: #707070;
    border-top: 1px solid #d6d6d6;
    padding: vw(20) 0;
  }
}