footer{
  background: #fff;
  .bx_footer{
    padding: 75px 0 0;
    text-align: center;
    .pagetop{
      font-size: rem(10);
      color: #7f7f7f;
      line-height: 1;
      position: relative;
      display: inline-block;
      margin-bottom: 66px;
      &:before{
        content:"";
        background: url(../images/icon_pagetop.png) no-repeat;
        background-size: contain;
        width: 32px;
        height: 28px;
        position: absolute;
        top: 0;
        margin-top: -35px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 1s;
        animation: hvr-icon-bob 1.5s infinite;
      }
    }
    .nav_ft{
      margin-bottom: 10px;
      li{
        display: inline-block;
        position: relative;
        &:not(:last-child){
          margin-right: 17px;
          &:after{
            content:"|";
            font-size: rem(11);
            color: #7f7f7f;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -12px;
          }
        }
        a{
          color: #7f7f7f;
          font-size: rem(11);
          line-height: 1;
          &:hover{
            color: #1ba4db;
          }
        }
      }
    }
  }
  .copyright{
    font-size: rem(11);
    line-height: 1;
    text-align: center;
    color: #707070;
    border-top: 1px solid #d6d6d6;
    padding: 11px 0;
  }
}