header {
  background-color: #fff;
  position: relative;
   &.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  .bx_header {
    padding: vw(23) 0;
    @media screen and (max-width: 480px) {
      padding: vw(35) 0;
    }

    &_logo {
      text-align: center;
      line-height: 0;
      a {
        display: inline-block;
        width: vw(304);

        @media screen and (max-width: 480px) {
          width: vw(380);
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .hamburger {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: vw(40);
      display: inline-block;
      overflow: visible;
      margin: 0;
      cursor: pointer;
      transition-timing-function: linear;
      transition-duration: .15s;
      transition-property: opacity, filter;
      text-transform: none;
      color: inherit;
      border: 0;
      background-color: transparent;
      &.hamburger--spin {
        .hamburger-inner {
          transition-timing-function: cubic-bezier(.55, .055, .675, .19);
          transition-duration: .22s;

          &:before {
            transition: top .1s ease-in .25s, opacity .1s ease-in;
          }

          &:after {
            transition: bottom .1s ease-in .25s, transform .22s cubic-bezier(.55, .055, .675, .19);
          }
        }
      }

      &.open {
        .hamburger-inner {
          transition-delay: .12s;
          transition-timing-function: cubic-bezier(.215, .61, .355, 1);
          transform: rotate(225deg);

          &:before {
            top: 0;
            transition: top .1s ease-out, opacity .1s ease-out .12s;
            opacity: 0;
          }

          &:after {
            bottom: 0;
            transition: bottom .1s ease-out, transform .22s cubic-bezier(.215, .61, .355, 1) .12s;
            transform: rotate(-90deg);
          }
        }
      }
    }

    .hamburger-box {
      width: 28px;
      height: 22px;
      position: relative;
      padding-top: 10px;
      .hamburger-inner {
        position: absolute;
        width: 28px;
        height: 2px;
        transition-timing-function: ease;
        transition-duration: .15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: #000;

        &:before {
          top: -10px;
        }

        &:after {
          bottom: -10px;
        }

        &:before,
        &:after {
          display: block;
          content: "";
          position: absolute;
          width: 28px;
          height: 2px;
          transition-timing-function: ease;
          transition-duration: .15s;
          transition-property: transform;
          border-radius: 4px;
          background-color: #000;
        }
      }
    }

    &_bottom {
      position: inherit;
      .nav {
        position: absolute;
        left: 0;
        /* top: 0; */
        width: 100%;
        overflow: scroll;
        visibility: visible;
        transition: height 0.3s;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: scroll;
        opacity: 0;
        z-index: 999;
        backface-visibility: hidden;
        transition: all 0.5s ease;
        padding: vw(75) 0;
        &.open {
          opacity: 1;
          backface-visibility: visible;
          visibility: visible;
        }

        .list_nav {
          text-align: center;

          li {
            width: 100%;
            line-height: 1;

            &:not(:last-child) {
              margin-bottom: vw(55);
            }

            a {
              font-size: vw(28);
              line-height: 1;
              font-family: $roboto;
              position: relative;
              color: #fff;
              font-weight: bold;
              transform: perspective(1px) translateZ(0);
              transition-property: color;
              transition-duration: 0.3s;
              padding: 0 5px;

              &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: vw(35);
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: vw(2);
                background: #000;
                transform: scaleX(0);
                transform-origin: 50%;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
              }

              &:hover {
                color: #1ba4db;

                &:before {
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }

      .list_social {
        text-align: center;
        margin-top: vw(100);

        li {
          width: auto;
          display: inline-block;

          &:not(:last-child) {
            margin: 0 vw(79) vw(44) 0;
          }

          &:nth-of-type(4) {
            margin-right: 0;
          }

          a {
            display: inline-block;
            text-indent: -9999px;
            overflow: hidden;
            position: relative;

            &:hover {
              opacity: 0.7;
            }

            &:before {
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }

            &.icon_fb {
              background: url(../images/icon_fb_sp.png) 0 0 no-repeat;
              background-size: contain;
              width: vw(22);
              height: vw(44);
            }

            &.icon_tw {
              background: url(../images/icon_twitter_sp.png) 0 0 no-repeat;
              background-size: contain;
              width: vw(48);
              height: vw(41);
            }

            &.icon_yt {
              background: url(../images/icon_yt_sp.png) 0 0 no-repeat;
              background-size: contain;
              width: vw(56);
              height: vw(41);
            }

            &.icon_int {
              background: url(../images/icon_instagram_sp.png) 0 0 no-repeat;
              background-size: contain;
              width: vw(46);
              height: vw(45);
            }
          }

          &.ev_search {
            position: relative;

            .icon_s {
              display: none;
            }

            .bx_search {
              width: vw(653);
              margin: 0 auto 0;

              .frm_search {
                position: relative;

                input {
                  width: 100%;
                  height: vw(91);
                  background: rgba(250, 255, 255, 0.5);
                  border: none;
                  outline: none;
                  font-size: vw(28);
                  line-height: 38px;
                  padding: 0 vw(60) 0 vw(20);
                }

                .btn_search {
                  background: transparent;
                  border: none;
                  width: vw(45);
                  height: vw(45);
                  padding: 0;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: vw(24);
                  cursor: pointer;

                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}