header{
  background-color: #fff;
   &.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    min-width: 1200px;
    background-color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
    .bx_header{
      padding: 0 0 24px;
    }
    .bx_header_logo{
      transform: translate3d(0, 25px,0);
      margin-bottom: 0;
    }
    .bx_header_bottom {
      .nav {
        ul {
          li{
            &:nth-of-type(1){
              margin-left: -80px;
            }
            &:nth-of-type(5){
              margin-left: 315px;
            }
          }
        }
      }
    }
  }
  .bx_header{
    padding: 37px 0 24px;
    /* transition: all 0.3s ease, -webkit-all 0.3s ease, -moz-all 0.3s ease; */
    &_logo{
      text-align: center;
      line-height: 0;
      margin-bottom: 27px;
      transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
      position: relative;
      z-index: 9;
      a{
        display: inline-block;
        img{
          width: 288px;
        }
      }
    }
    &_bottom{
      position: relative;
      z-index: 10;
      .nav{
        text-align: center;
        ul{
          li{
            display: inline-block;
            transition: all 0.3s ease, -webkit-all 0.3s ease, -moz-all 0.3s ease;
            &:not(:last-child){
              margin-right: 16px;
            }
            a{
              font-size: rem(13);
              line-height: 1;
              font-family: $roboto;
              position: relative;
              color: #000;
              font-weight: bold;
              transform: perspective(1px) translateZ(0);
              transition-property: color;
              transition-duration: 0.3s;
              padding: 0 5px;
              &:before{
                content: "";
                position: absolute;
                z-index: -1;
                top: 20px;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 1px;
                background: #000;
                transform: scaleX(0);
                transform-origin: 50%;
                transition-property: transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
              }
              &:hover{
                color: #1ba4db;
                &:before{
                  transform: scaleX(1);
                }
              }
            }
          }
        }
      }
      .list_social{
        position: absolute;
        top: 0;
        right: 0;
        li{
          display: inline-block;
          &:not(:last-child){
            margin-right: 22px;
          }
          a{
            display: inline-block;
            text-indent: -9999px;
            overflow: hidden;
            position: relative;
            &:hover{
              opacity: 0.7;
            }
            &:before{
              position: absolute;
              content: "";
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
            &.icon_fb{
              background: url(../images/icon_fb_pc.png) 0 0 no-repeat;
              background-size: contain;
              width: 7px;
              height: 15px;
            }
            &.icon_tw{
              background: url(../images/icon_twitter_pc.png) 0 0 no-repeat;
              background-size: contain;
              width: 16px;
              height: 15px;
            }
            &.icon_yt{
              background: url(../images/icon_yt_pc.png) 0 0 no-repeat;
              background-size: contain;
              width: 20px;
              height: 15px;
            }
            &.icon_int{
              background: url(../images/icon_instagram_pc.png) 0 0 no-repeat;
              background-size: contain;
              width: 16px;
              height: 15px;
            }
          }
          &.ev_search{
            position: relative;
            .icon_s{
              display: inline-block;
              text-indent: -9999px;
              overflow: hidden;
              position: relative;
              width: 16px;
              height: 15px;
              cursor: pointer;
              &:before{
                position: absolute;
                content: "";
                background: url(../images/icon_search_s.png) 0 0 no-repeat;
                background-size: contain;
                width: 16px;
                height: 15px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              &:hover{
                opacity: 0.7;
              }
            }
            .bx_search{
              background-color: rgba(0,0,0,0.5);
              position: absolute;
              top: 43px;
              visibility: hidden;
              overflow: hidden;
              height: 0;
              right: 0;
              transition: all 0.5s ease;
              &.active{
                padding: 16px;
                height: 70px;
                backface-visibility: visible;
                visibility: visible;
              }
              .frm_search{
                position: relative;
                input{
                  width: 268px;
                  height: 38px;
                  background: rgba(250,255,255,0.5);
                  border: none;
                  outline: none;
                  font-size: rem(14);
                  line-height: 38px;
                  padding: 0 35px 0 10px;
                }
                .btn_search{
                  background: transparent;
                  border: none;
                  width: 20px;
                  height: 20px;
                  padding: 0;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 10px;
                  cursor: pointer;
                  img{
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}