.gr_ttl{
  background: url(../images/bkg_ttl.jpg) no-repeat;
  background-size: cover;
  .wrap{
    height: 222px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      font-size: rem(40);
      line-height: 1;
      letter-spacing: 2px;
      color: #fff;
      margin-bottom: 17px;
    }
    span{
      display: block;
      font-size: rem(13);
      line-height: 1;
      color: #fff;
    }
  }
}