.gr_ttl{
  background: url(../images/bkg_ttl.jpg) no-repeat;
  background-size: cover;
  .wrap{
    height: vw(280);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2{
      font-size: vw(50);
      line-height: 1;
      letter-spacing: vw(3);
      color: #fff;
      margin-bottom: vw(15);
    }
    span{
      display: block;
      font-size: vw(22);
      line-height: 1;
      color: #fff;
    }
  }
}