@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  // font-family: 'Hiragino Maru Gothic Pro','ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: rem(13);
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  text-decoration: none;
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {
/*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}
.img_ck {
  font-size: rem(1);
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}
/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}
//---------------------------------------------------------------------------
//CMS用
.file {
  border-top: 1px dotted #cccccc;
  margin: 15px 0;
  padding: 10px 0 0;
  text-align: left;

  .pdf {
    background: url(../images/cms/pdf.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .ppt {
    background: url(../images/cms/ppt.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .xls,
  .xlsx {
    background: url(../images/cms/xls.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
  .doc,
  .docx {
    background: url(../images/cms/doc.png) left center no-repeat;
    line-height: 37px;
    padding: 4px 0 0 40px;
  }
}

.top-right {
  float: right;
  margin: 0px 0px 30px 30px;
}
.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}
.top-center {
  margin: 0px 0px 30px 0px;
  text-align:center;
}
.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}
.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}
.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align:center;
}
.entry-container b {
  font-weight: bold;
}
.entry-container i {
  font-style: italic;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
* {
  box-sizing: border-box;
}
.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
picture {
  display: block;
}
html,body {
  width: 100%;
  height: 100%;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.lato {
  font-family: 'Lato', sans-serif;
}
//---------------------------------------------------------------------------
@include min-screen() {
  @import "./_common_pc.scss";
  @import "./_ttl_pc.scss";
  @import "./_header_pc.scss";
  @import "./_footer_pc.scss";
}

@include max-screen() {
  @import "./_common_sp.scss";
  @import "./_ttl_sp.scss";
  @import "./_header_sp.scss";
  @import "./_footer_sp.scss";
}

@-webkit-keyframes hvr-icon-bob {
  0% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

@-moz-keyframes hvr-icon-bob {
  0% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

@keyframes hvr-icon-bob {
  0% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}
