@charset "UTF-8";
html {
  font-size: 10px;
}

body,
td,
th,
input,
textarea {
  color: #000000;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}

body {
  overflow-wrap: break-word;
}

a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  text-decoration: none;
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

a:hover {
  text-decoration: none;
}

a:hover,
a:hover img,
.img_hover:hover {
  /*
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
*/
}

img {
  vertical-align: bottom;
}

.img_ck {
  font-size: 0.1rem;
  line-height: 0;
}

/* clearfix (micro) */
.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

/* For IE 6/7 only */
.clearfix {
  *zoom: 1;
}

div,
p {
  /*word-break: break-all;*/
}

h2,
h3,
h4,
h5,
h6,
div,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
nav {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav, picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

.file {
  border-top: 1px dotted #cccccc;
  margin: 15px 0;
  padding: 10px 0 0;
  text-align: left;
}

.file .pdf {
  background: url(../images/cms/pdf.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .ppt {
  background: url(../images/cms/ppt.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .xls,
.file .xlsx {
  background: url(../images/cms/xls.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.file .doc,
.file .docx {
  background: url(../images/cms/doc.png) left center no-repeat;
  line-height: 37px;
  padding: 4px 0 0 40px;
}

.top-right {
  float: right;
  margin: 0px 0px 30px 30px;
}

.top-left {
  float: left;
  margin: 0px 30px 30px 0px;
}

.top-center {
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.bottom-right {
  float: right;
  margin: 30px 0px 0px 30px;
}

.bottom-left {
  float: left;
  margin: 30px 30px 0px 0px;
}

.bottom-center {
  margin: 30px 0px 0px 0px;
  text-align: center;
}

.entry-container b {
  font-weight: bold;
}

.entry-container i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

picture {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

.roboto {
  font-family: 'Roboto', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 769px), print {
  .show_sp {
    display: none !important;
  }
  .container {
    min-width: 1200px;
  }
  .row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .breadcrumb {
    margin-top: 20px;
  }
  .breadcrumb li {
    font-size: 1.1rem;
    line-height: 1;
    position: relative;
    color: #7d7d7d;
    display: inline-block;
  }
  .breadcrumb li:not(:last-child) {
    margin-right: 15px;
  }
  .breadcrumb li:not(:last-child):after {
    content: ">";
    font-size: 1.1rem;
    line-height: 1;
    position: absolute;
    top: -1px;
    right: -13px;
    font-family: "Roboto", sans-serif;
  }
  .breadcrumb li a {
    font-size: 1.1rem;
    line-height: 1;
    color: #7d7d7d;
  }
  @keyframes marqueeRL {
    from {
      -webkit-transform: translate(0);
      -moz-transform: translate(0);
      transform: translate(0);
    }
    to {
      -webkit-transform: translate(-140%);
      -moz-transform: translate(-140%);
      transform: translate(-140%);
    }
  }
  @-webkit-keyframes marqueeRL {
    from {
      -webkit-transform: translate(0);
      transform: translate(0);
    }
    to {
      -webkit-transform: translate(-140%);
      transform: translate(-140%);
    }
  }
  @-moz-keyframes marqueeRL {
    from {
      -moz-transform: translate(0);
      transform: translate(0);
    }
    to {
      -moz-transform: translate(-140%);
      transform: translate(-140%);
    }
  }
  .gr_ttl .wrap {
    height: 222px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gr_ttl .wrap h2 {
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 2px;
    color: #fff;
    margin-bottom: 17px;
  }
  .gr_ttl .wrap span {
    display: block;
    font-size: 1.3rem;
    line-height: 1;
    color: #fff;
  }
  header {
    background-color: #fff;
  }
  header.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    min-width: 1200px;
    background-color: #fff;
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
         box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  header.fixed .bx_header {
    padding: 0 0 24px;
  }
  header.fixed .bx_header_logo {
    -webkit-transform: translate3d(0, 25px, 0);
       -moz-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
    margin-bottom: 0;
  }
  header.fixed .bx_header_bottom .nav ul li:nth-of-type(1) {
    margin-left: -80px;
  }
  header.fixed .bx_header_bottom .nav ul li:nth-of-type(5) {
    margin-left: 315px;
  }
  header .bx_header {
    padding: 37px 0 24px;
    /* transition: all 0.3s ease, -webkit-all 0.3s ease, -moz-all 0.3s ease; */
  }
  header .bx_header_logo {
    text-align: center;
    line-height: 0;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
    position: relative;
    z-index: 100;
    max-width: 288px;
    display: block;
    margin: 0 auto 27px;
  }
  header .bx_header_logo a {
    display: inline-block;
  }
  header .bx_header_logo a img {
    width: 288px;
  }
  header .bx_header_bottom {
    position: relative;
    z-index: 10;
  }
  header .bx_header_bottom .nav {
    text-align: center;
  }
  header .bx_header_bottom .nav ul li {
    display: inline-block;
    transition: all 0.3s ease, -webkit-all 0.3s ease, -moz-all 0.3s ease;
  }
  header .bx_header_bottom .nav ul li:not(:last-child) {
    margin-right: 16px;
  }
  header .bx_header_bottom .nav ul li a {
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    position: relative;
    color: #000;
    font-weight: bold;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    padding: 0 5px;
  }
  header .bx_header_bottom .nav ul li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: #000;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  header .bx_header_bottom .nav ul li a:hover {
    color: #1ba4db;
  }
  header .bx_header_bottom .nav ul li a:hover:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  header .bx_header_bottom .list_social {
    position: absolute;
    top: 0;
    right: 0;
  }
  header .bx_header_bottom .list_social li {
    display: inline-block;
  }
  header .bx_header_bottom .list_social li:not(:last-child) {
    margin-right: 22px;
  }
  header .bx_header_bottom .list_social li a {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
  }
  header .bx_header_bottom .list_social li a:hover {
    opacity: 0.7;
  }
  header .bx_header_bottom .list_social li a:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header .bx_header_bottom .list_social li a.icon_fb {
    background: url(../images/icon_fb_pc.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 7px;
    height: 15px;
  }
  header .bx_header_bottom .list_social li a.icon_tw {
    background: url(../images/icon_twitter_pc.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 16px;
    height: 15px;
  }
  header .bx_header_bottom .list_social li a.icon_yt {
    background: url(../images/icon_yt_pc.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 20px;
    height: 15px;
  }
  header .bx_header_bottom .list_social li a.icon_int {
    background: url(../images/icon_instagram_pc.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 16px;
    height: 15px;
  }
  header .bx_header_bottom .list_social li.ev_search {
    position: relative;
  }
  header .bx_header_bottom .list_social li.ev_search .icon_s {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    width: 16px;
    height: 15px;
    cursor: pointer;
  }
  header .bx_header_bottom .list_social li.ev_search .icon_s:before {
    position: absolute;
    content: "";
    background: url(../images/icon_search_s.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 16px;
    height: 15px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header .bx_header_bottom .list_social li.ev_search .icon_s:hover {
    opacity: 0.7;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 43px;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search.active {
    padding: 16px;
    height: 70px;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    visibility: visible;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search {
    position: relative;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search input {
    width: 268px;
    height: 38px;
    background: rgba(250, 255, 255, 0.5);
    border: none;
    outline: none;
    font-size: 1.4rem;
    line-height: 38px;
    padding: 0 35px 0 10px;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search .btn_search {
    background: transparent;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search .btn_search img {
    width: 100%;
    height: auto;
  }
  footer {
    background: #fff;
  }
  footer .bx_footer {
    padding: 75px 0 0;
    text-align: center;
  }
  footer .bx_footer .pagetop {
    font-size: 1rem;
    color: #7f7f7f;
    line-height: 1;
    position: relative;
    display: inline-block;
    margin-bottom: 66px;
  }
  footer .bx_footer .pagetop:before {
    content: "";
    background: url(../images/icon_pagetop.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 32px;
    height: 28px;
    position: absolute;
    top: 0;
    margin-top: -35px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-animation: hvr-icon-bob 1.5s infinite;
       -moz-animation: hvr-icon-bob 1.5s infinite;
            animation: hvr-icon-bob 1.5s infinite;
  }
  footer .bx_footer .nav_ft {
    margin-bottom: 10px;
  }
  footer .bx_footer .nav_ft li {
    display: inline-block;
    position: relative;
  }
  footer .bx_footer .nav_ft li:not(:last-child) {
    margin-right: 17px;
  }
  footer .bx_footer .nav_ft li:not(:last-child):after {
    content: "|";
    font-size: 1.1rem;
    color: #7f7f7f;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -12px;
  }
  footer .bx_footer .nav_ft li a {
    color: #7f7f7f;
    font-size: 1.1rem;
    line-height: 1;
  }
  footer .bx_footer .nav_ft li a:hover {
    color: #1ba4db;
  }
  footer .copyright {
    font-size: 1.1rem;
    line-height: 1;
    text-align: center;
    color: #707070;
    border-top: 1px solid #d6d6d6;
    padding: 11px 0;
  }
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }
  .row {
    padding: 0 2.26667vw;
  }
  .breadcrumb {
    margin-top: 4vw;
  }
  .breadcrumb li {
    font-size: 2.93333vw;
    line-height: 1;
    position: relative;
    color: #7d7d7d;
    display: inline-block;
  }
  .breadcrumb li:not(:last-child) {
    margin-right: 3.33333vw;
  }
  .breadcrumb li:not(:last-child):after {
    content: ">";
    font-size: 2.93333vw;
    line-height: 1;
    position: absolute;
    top: -0.26667vw;
    right: -2.66667vw;
    font-family: "Roboto", sans-serif;
  }
  .breadcrumb li a {
    font-size: 2.93333vw;
    line-height: 1;
    color: #7d7d7d;
  }
  .show_pc {
    display: none !important;
  }
  .gr_ttl .wrap {
    height: 37.33333vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gr_ttl .wrap h2 {
    font-size: 6.66667vw;
    line-height: 1;
    letter-spacing: 0.4vw;
    color: #fff;
    margin-bottom: 2vw;
  }
  .gr_ttl .wrap span {
    display: block;
    font-size: 2.93333vw;
    line-height: 1;
    color: #fff;
  }
  header {
    background-color: #fff;
    position: relative;
  }
  header.fixed {
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    top: 0;
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
         box-shadow: 0px 0px 8px 0px rgba(50, 49, 49, 0.39);
  }
  header .bx_header {
    padding: 3.06667vw 0;
  }
}

@media screen and (max-width: 768px) and (max-width: 480px) {
  header .bx_header {
    padding: 4.66667vw 0;
  }
}

@media screen and (max-width: 768px) {
  header .bx_header_logo {
    text-align: center;
    line-height: 0;
  }
  header .bx_header_logo a {
    display: inline-block;
    width: 40.53333vw;
  }
}

@media screen and (max-width: 768px) and (max-width: 480px) {
  header .bx_header_logo a {
    width: 50.66667vw;
  }
}

@media screen and (max-width: 768px) {
  header .bx_header_logo a img {
    width: 100%;
    height: auto;
  }
  header .bx_header .hamburger {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 5.33333vw;
    display: inline-block;
    overflow: visible;
    margin: 0;
    cursor: pointer;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .15s;
       -moz-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, -webkit-filter;
    -moz-transition-property: opacity, filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
  }
  header .bx_header .hamburger.hamburger--spin .hamburger-inner {
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
       -moz-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition-duration: .22s;
       -moz-transition-duration: .22s;
            transition-duration: .22s;
  }
  header .bx_header .hamburger.hamburger--spin .hamburger-inner:before {
    -webkit-transition: top .1s ease-in .25s, opacity .1s ease-in;
    -moz-transition: top .1s ease-in .25s, opacity .1s ease-in;
    transition: top .1s ease-in .25s, opacity .1s ease-in;
  }
  header .bx_header .hamburger.hamburger--spin .hamburger-inner:after {
    -webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -moz-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  header .bx_header .hamburger.open .hamburger-inner {
    -webkit-transition-delay: .12s;
       -moz-transition-delay: .12s;
            transition-delay: .12s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
       -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: rotate(225deg);
       -moz-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  header .bx_header .hamburger.open .hamburger-inner:before {
    top: 0;
    -webkit-transition: top .1s ease-out, opacity .1s ease-out .12s;
    -moz-transition: top .1s ease-out, opacity .1s ease-out .12s;
    transition: top .1s ease-out, opacity .1s ease-out .12s;
    opacity: 0;
  }
  header .bx_header .hamburger.open .hamburger-inner:after {
    bottom: 0;
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    -moz-transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -moz-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -moz-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  header .bx_header .hamburger-box {
    width: 28px;
    height: 22px;
    position: relative;
    padding-top: 10px;
  }
  header .bx_header .hamburger-box .hamburger-inner {
    position: absolute;
    width: 28px;
    height: 2px;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .15s;
       -moz-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #000;
  }
  header .bx_header .hamburger-box .hamburger-inner:before {
    top: -10px;
  }
  header .bx_header .hamburger-box .hamburger-inner:after {
    bottom: -10px;
  }
  header .bx_header .hamburger-box .hamburger-inner:before, header .bx_header .hamburger-box .hamburger-inner:after {
    display: block;
    content: "";
    position: absolute;
    width: 28px;
    height: 2px;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .15s;
       -moz-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -moz-border-radius: 4px;
         border-radius: 4px;
    background-color: #000;
  }
  header .bx_header_bottom {
    position: inherit;
  }
  header .bx_header_bottom .nav {
    position: absolute;
    left: 0;
    /* top: 0; */
    width: 100%;
    overflow: scroll;
    visibility: visible;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: scroll;
    opacity: 0;
    z-index: 999;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 10vw 0;
  }
  header .bx_header_bottom .nav.open {
    opacity: 1;
    -webkit-backface-visibility: visible;
       -moz-backface-visibility: visible;
            backface-visibility: visible;
    visibility: visible;
  }
  header .bx_header_bottom .nav .list_nav {
    text-align: center;
  }
  header .bx_header_bottom .nav .list_nav li {
    width: 100%;
    line-height: 1;
  }
  header .bx_header_bottom .nav .list_nav li:not(:last-child) {
    margin-bottom: 7.33333vw;
  }
  header .bx_header_bottom .nav .list_nav li a {
    font-size: 3.73333vw;
    line-height: 1;
    font-family: "Roboto", sans-serif;
    position: relative;
    color: #fff;
    font-weight: bold;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    padding: 0 5px;
  }
  header .bx_header_bottom .nav .list_nav li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 4.66667vw;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.26667vw;
    background: #000;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  header .bx_header_bottom .nav .list_nav li a:hover {
    color: #1ba4db;
  }
  header .bx_header_bottom .nav .list_nav li a:hover:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  header .bx_header_bottom .list_social {
    text-align: center;
    margin-top: 13.33333vw;
  }
  header .bx_header_bottom .list_social li {
    width: auto;
    display: inline-block;
  }
  header .bx_header_bottom .list_social li:not(:last-child) {
    margin: 0 10.53333vw 5.86667vw 0;
  }
  header .bx_header_bottom .list_social li:nth-of-type(4) {
    margin-right: 0;
  }
  header .bx_header_bottom .list_social li a {
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
  }
  header .bx_header_bottom .list_social li a:hover {
    opacity: 0.7;
  }
  header .bx_header_bottom .list_social li a:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  header .bx_header_bottom .list_social li a.icon_fb {
    background: url(../images/icon_fb_sp.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 2.93333vw;
    height: 5.86667vw;
  }
  header .bx_header_bottom .list_social li a.icon_tw {
    background: url(../images/icon_twitter_sp.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 6.4vw;
    height: 5.46667vw;
  }
  header .bx_header_bottom .list_social li a.icon_yt {
    background: url(../images/icon_yt_sp.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 7.46667vw;
    height: 5.46667vw;
  }
  header .bx_header_bottom .list_social li a.icon_int {
    background: url(../images/icon_instagram_sp.png) 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 6.13333vw;
    height: 6vw;
  }
  header .bx_header_bottom .list_social li.ev_search {
    position: relative;
  }
  header .bx_header_bottom .list_social li.ev_search .icon_s {
    display: none;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search {
    width: 87.06667vw;
    margin: 0 auto 0;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search {
    position: relative;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search input {
    width: 100%;
    height: 12.13333vw;
    background: rgba(250, 255, 255, 0.5);
    border: none;
    outline: none;
    font-size: 3.73333vw;
    line-height: 38px;
    padding: 0 8vw 0 2.66667vw;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search .btn_search {
    background: transparent;
    border: none;
    width: 6vw;
    height: 6vw;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 3.2vw;
    cursor: pointer;
  }
  header .bx_header_bottom .list_social li.ev_search .bx_search .frm_search .btn_search img {
    width: 100%;
    height: auto;
  }
  footer {
    background: #fff;
  }
  footer .bx_footer {
    padding: 15.06667vw 0 0;
    text-align: center;
  }
  footer .bx_footer .pagetop {
    font-size: 2vw;
    color: #7f7f7f;
    line-height: 1;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 9.06667vw;
  }
  footer .bx_footer .pagetop:before {
    content: "";
    background: url(../images/icon_pagetop.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 6.4vw;
    height: 5.6vw;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: -7.33333vw;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
    -webkit-animation: hvr-icon-bob 1.5s infinite;
       -moz-animation: hvr-icon-bob 1.5s infinite;
            animation: hvr-icon-bob 1.5s infinite;
  }
  footer .bx_footer .nav_ft {
    margin-bottom: 2.66667vw;
  }
  footer .bx_footer .nav_ft li {
    display: inline-block;
    position: relative;
  }
  footer .bx_footer .nav_ft li:not(:last-child) {
    margin-right: 3.73333vw;
  }
  footer .bx_footer .nav_ft li:not(:last-child):after {
    content: "|";
    font-size: 2.4vw;
    color: #7f7f7f;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -2.4vw;
    padding-bottom: 0.66667vw;
    line-height: 1;
  }
  footer .bx_footer .nav_ft li a {
    color: #7f7f7f;
    font-size: 2.4vw;
    line-height: 1;
  }
  footer .bx_footer .nav_ft li a:hover {
    color: #1ba4db;
  }
  footer .copyright {
    font-size: 2.4vw;
    line-height: 1;
    text-align: center;
    color: #707070;
    border-top: 1px solid #d6d6d6;
    padding: 2.66667vw 0;
  }
}

@-webkit-keyframes hvr-icon-bob {
  0% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

@-moz-keyframes hvr-icon-bob {
  0% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

@keyframes hvr-icon-bob {
  0% {
    top: -10px;
  }
  50% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

/*　buttonA　*/
.buttonA {
  border:3px solid rgb(147,162,0);
  background-color: rgba(147,162,0,1);
  color: #fff;
}
.buttonA:hover {
  border:3px solid rgb(147,162,0);
  background-color: rgba(147,162,0,.0);
  color:  rgba(147,162,0,1);
}

