@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.ttl_art {
  font-size: rem(28);
  line-height: 1.5;
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  &:after {
    content: "";
    width: 145px;
    height: 1px;
    background-color: #55bbe4;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.st_contact{
  .wrap{
    max-width: 1000px;
  }
  .gr_contact{
    margin: 50px auto;
    .req{
      font-size: rem(14);
      line-height: 1;
      color: #ff0000;
      text-align: right;
      margin-bottom: 12px;
    }
    .frm_contact{
      .frm_group{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:nth-of-type(2){
          align-items: flex-start;
          label{
            padding-top: 10px;
          }
        }
        &:nth-of-type(4){
          align-items: flex-start;
        }
      }
      label{
        font-size: rem(14);
        line-height: 1;
        font-weight: bold;
        width: 195px;
        sub{
          color: #ff0000;
          vertical-align: top;
          font-size: rem(14);
          margin: 3px 0 0 3px;
          display: inline-block;
        }
      }
      .ip_left{
        width: calc(100% - 195px);
        &.frm_ip{
          display: flex;
          margin-left: -23px;
          width: calc(100% - 172px);
          .cts_ip{
            width: calc(50% - 23px);
            margin-left: 23px;
          }
        }
        em{
          font-size: rem(15);
          line-height: 1;
          font-style: normal;
          display: block;
          margin-top: 20px;
        }
      }
      .frm_control{
        width: 100%;
        padding: 0 10px;
        font-size: rem(15);
        line-height: 1;
        height: 32px;
        color: #aaaaaa;
        outline: none;
      }
      .frm_textarea{
        width: 100%;
        padding: 10px;
        font-size: rem(15);
        line-height: 1;
        height: 150px;
        resize: none;
        color: #aaaaaa;
        outline: none;
      }
      .frm_checkbox {
        font-size: rem(15);
        line-height: 1;
        cursor: pointer;
        margin-bottom: 5px;
        position: relative;
        font-weight: normal;
        a {
          position: relative;
          font-size: rem(15);
          color: #1ba4db;
          text-decoration: underline;
        }
        input.check[type="checkbox"] {
          display: none;
          &:checked {
            +span {
              &::after {
                background: url('../images/icon_check.png') 0 0 no-repeat;
                background-size: contain;
                width: 15px;
                height: 10px;
                top: 3px;
                left: 1px;
              }
            }
          }
          +span {
            display: inline-block;
            position: relative;
            padding: 0 0 0 22px;
            &::before,
            &::after {
              position: absolute;
              content: "";
              box-sizing: border-box;
              display: block;
              width: 15px;
              height: 15px;
              left: 0;
              top: 0;
            }
            &::before {
              border: 1px solid #000;
            }
          }
        }
        
      }
      .frm_btn{
        margin-top: 50px;
        button{
          width: 100%;
          height: 71px;
          font-size: rem(26);
          line-height: 1;
          font-weight: bold;
          color: #fff;
          background-color: #1ba4db;
          border: 1px solid #1ba4db;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transform: perspective(1px) translateZ(0);
          transition-property: color;
          transition-duration: 0.3s;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            transform: scaleX(0);
            transform-origin: 50%;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform, -moz-transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          span {
            display: inline-block;
            position: relative;
            padding-left: 50px;
            &:before {
              content: "";
              background: url(../images/arr_link.png) no-repeat;
              background-size: contain;
              width: 29px;
              height: 32px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
          &:hover {
            color: #1ba4db;
            &:before {
              transform: scaleX(1);
            }
            span{
              &:before{
                background: url(../images/arr_link_hv.png) no-repeat;
                background-size: contain;
              }
            }
          }
        }
      }
    }
  }
}