@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.ttl_art {
  font-size: vw(34);
  line-height: 1.5;
  position: relative;
  text-align: center;
  margin-bottom: vw(80);
  &:after {
    content: "";
    width: vw(200);
    height: vw(2);
    background-color: #55bbe4;
    position: absolute;
    bottom: vw(-10);
    left: 50%;
    transform: translateX(-50%);
  }
}

.st_contact{
  .gr_contact{
    margin: vw(50) 0;
    .req{
      font-size: vw(24);
      line-height: 1;
      color: #ff0000;
      text-align: right;
      margin-bottom: vw(10);
    }
    .frm_contact{
      .frm_group{
        margin-bottom: vw(30);
      }
      label{
        font-size: vw(24);
        line-height: 1;
        display: block;
        font-weight: bold;
        margin-bottom: vw(20);
        sub{
          color: #ff0000;
          vertical-align: top;
          font-size: vw(24);
          margin: vw(3) 0 0 vw(3);
          display: inline-block;
        }
      }
      .ip_left{
        &.frm_ip{
          .cts_ip{
            &:not(:last-child){
              margin-bottom: vw(10);
            }
          }
        }
        em{
          font-size: vw(24);
          line-height: 1;
          font-style: normal;
          display: block;
          margin-top: vw(20);
        }
      }
      .frm_control{
        width: 100%;
        padding: 0 vw(10);
        font-size: vw(24);
        line-height: 1;
        height: vw(60);
        color: #aaaaaa;
        outline: none;
      }
      .frm_textarea{
        width: 100%;
        padding: vw(10);
        font-size: vw(24);
        line-height: 1;
        height: vw(300);
        resize: none;
        color: #aaaaaa;
        outline: none;
      }
      .frm_checkbox {
        font-size: vw(24);
        line-height: 1;
        cursor: pointer;
        margin-bottom: vw(5);
        position: relative;
        font-weight: normal;
        a {
          position: relative;
          font-size: vw(24);
          color: #1ba4db;
          text-decoration: underline;
        }
        input.check[type="checkbox"] {
          display: none;
          &:checked {
            +span {
              &::after {
                background: url('../images/icon_check.png') 0 0 no-repeat;
                background-size: contain;
                width: vw(27);
                height: vw(16);
                top: vw(5);
                left: vw(3);
              }
            }
          }
          +span {
            display: inline-block;
            position: relative;
            padding: 0 0 0 vw(35);
            &::before,
            &::after {
              position: absolute;
              content: "";
              box-sizing: border-box;
              display: block;
              width: vw(25);
              height: vw(25);
              left: 0;
              top: 0;
            }
            &::before {
              border: 1px solid #000;
            }
          }
        }
      }
      .frm_btn{
        margin-top: vw(50);
        button{
          width: 100%;
          height: vw(71);
          font-size: vw(26);
          line-height: 1;
          font-weight: bold;
          color: #fff;
          background-color: #1ba4db;
          border: 1px solid #1ba4db;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          span {
            display: inline-block;
            position: relative;
            padding-left: vw(50);
            &:before {
              content: "";
              background: url(../images/arr_link.png) no-repeat;
              background-size: contain;
              width: vw(28);
              height: vw(31);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
      }
    }
  }
}