@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.ttl_art {
  font-size: vw(34);
  line-height: 1.5;
  position: relative;
  text-align: center;
  margin-bottom: vw(80);
  &:after {
    content: "";
    width: vw(200);
    height: vw(2);
    background-color: #55bbe4;
    position: absolute;
    bottom: vw(-10);
    left: 50%;
    transform: translateX(-50%);
  }
}

.st_about{
  .gr_about{
    margin: vw(70) 0 vw(50);
    .logo_ab{
      text-align: center;
      margin-bottom: vw(40);
      img{
        width: vw(415);
        height: auto;
      }
    }
    article{
      &:not(:last-child){
        margin-bottom: vw(90);
      }
      &:first-of-type{
        figure{
          margin: vw(40) 0 vw(10);
        }
      }
      .main_art{
        p{
          font-size: vw(24);
          line-height: vw(44);
        }
        figure{
          text-align: center;
        }
      }
    }
  }
}