@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.ttl_art {
  font-size: rem(28);
  line-height: 1.5;
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  &:after {
    content: "";
    width: 145px;
    height: 1px;
    background-color: #55bbe4;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.st_about{
  .wrap{
    max-width: 829px;
  }
  .gr_about{
    margin: 70px auto 50px;
    .logo_ab{
      text-align: center;
      margin-bottom: 40px;
    }
    article{
      &:not(:last-child){
        margin-bottom: 90px;
      }
      &:first-of-type{
        figure{
          margin: 40px 0;
        }
      }
      .main_art{
        p{
          font-size: rem(14);
          line-height: 24px;
        }
        figure{
          text-align: center;
        }
      }
    }
  }
}