@media screen and (min-width: 769px), print {
  .ttl_art {
    font-size: 2.8rem;
    line-height: 1.5;
    position: relative;
    text-align: center;
    margin-bottom: 70px;
  }
  .ttl_art:after {
    content: "";
    width: 145px;
    height: 1px;
    background-color: #55bbe4;
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact .wrap {
    max-width: 1000px;
  }
  .st_contact .gr_contact {
    margin: 50px auto;
  }
  .st_contact .gr_contact .req {
    font-size: 1.4rem;
    line-height: 1;
    color: #ff0000;
    text-align: right;
    margin-bottom: 12px;
  }
  .st_contact .gr_contact .frm_contact .frm_group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
  .st_contact .gr_contact .frm_contact .frm_group:nth-of-type(2) {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .st_contact .gr_contact .frm_contact .frm_group:nth-of-type(2) label {
    padding-top: 10px;
  }
  .st_contact .gr_contact .frm_contact .frm_group:nth-of-type(4) {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .st_contact .gr_contact .frm_contact label {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: bold;
    width: 195px;
  }
  .st_contact .gr_contact .frm_contact label sub {
    color: #ff0000;
    vertical-align: top;
    font-size: 1.4rem;
    margin: 3px 0 0 3px;
    display: inline-block;
  }
  .st_contact .gr_contact .frm_contact .ip_left {
    width: -webkit-calc(100% - 195px);
    width: -moz-calc(100% - 195px);
    width: calc(100% - 195px);
  }
  .st_contact .gr_contact .frm_contact .ip_left.frm_ip {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -23px;
    width: -webkit-calc(100% - 172px);
    width: -moz-calc(100% - 172px);
    width: calc(100% - 172px);
  }
  .st_contact .gr_contact .frm_contact .ip_left.frm_ip .cts_ip {
    width: -webkit-calc(50% - 23px);
    width: -moz-calc(50% - 23px);
    width: calc(50% - 23px);
    margin-left: 23px;
  }
  .st_contact .gr_contact .frm_contact .ip_left em {
    font-size: 1.5rem;
    line-height: 1;
    font-style: normal;
    display: block;
    margin-top: 20px;
  }
  .st_contact .gr_contact .frm_contact .frm_control {
    width: 100%;
    padding: 0 10px;
    font-size: 1.5rem;
    line-height: 1;
    height: 32px;
    color: #aaaaaa;
    outline: none;
  }
  .st_contact .gr_contact .frm_contact .frm_textarea {
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 1;
    height: 150px;
    resize: none;
    color: #aaaaaa;
    outline: none;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox {
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
    font-weight: normal;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox a {
    position: relative;
    font-size: 1.5rem;
    color: #1ba4db;
    text-decoration: underline;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] {
    display: none;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"]:checked + span::after {
    background: url("../images/icon_check.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 15px;
    height: 10px;
    top: 3px;
    left: 1px;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 22px;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span::before, .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span::after {
    position: absolute;
    content: "";
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: block;
    width: 15px;
    height: 15px;
    left: 0;
    top: 0;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span::before {
    border: 1px solid #000;
  }
  .st_contact .gr_contact .frm_contact .frm_btn {
    margin-top: 50px;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button {
    width: 100%;
    height: 71px;
    font-size: 2.6rem;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background-color: #1ba4db;
    border: 1px solid #1ba4db;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    transition-property: -webkit-transform;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button span {
    display: inline-block;
    position: relative;
    padding-left: 50px;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button span:before {
    content: "";
    background: url(../images/arr_link.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 29px;
    height: 32px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button:hover {
    color: #1ba4db;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button:hover:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .st_contact .gr_contact .frm_contact .frm_btn button:hover span:before {
    background: url(../images/arr_link_hv.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  .ttl_art {
    font-size: 4.53333vw;
    line-height: 1.5;
    position: relative;
    text-align: center;
    margin-bottom: 10.66667vw;
  }
  .ttl_art:after {
    content: "";
    width: 26.66667vw;
    height: 0.26667vw;
    background-color: #55bbe4;
    position: absolute;
    bottom: -1.33333vw;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .st_contact .gr_contact {
    margin: 6.66667vw 0;
  }
  .st_contact .gr_contact .req {
    font-size: 3.2vw;
    line-height: 1;
    color: #ff0000;
    text-align: right;
    margin-bottom: 1.33333vw;
  }
  .st_contact .gr_contact .frm_contact .frm_group {
    margin-bottom: 4vw;
  }
  .st_contact .gr_contact .frm_contact label {
    font-size: 3.2vw;
    line-height: 1;
    display: block;
    font-weight: bold;
    margin-bottom: 2.66667vw;
  }
  .st_contact .gr_contact .frm_contact label sub {
    color: #ff0000;
    vertical-align: top;
    font-size: 3.2vw;
    margin: 0.4vw 0 0 0.4vw;
    display: inline-block;
  }
  .st_contact .gr_contact .frm_contact .ip_left.frm_ip .cts_ip:not(:last-child) {
    margin-bottom: 1.33333vw;
  }
  .st_contact .gr_contact .frm_contact .ip_left em {
    font-size: 3.2vw;
    line-height: 1;
    font-style: normal;
    display: block;
    margin-top: 2.66667vw;
  }
  .st_contact .gr_contact .frm_contact .frm_control {
    width: 100%;
    padding: 0 1.33333vw;
    font-size: 3.2vw;
    line-height: 1;
    height: 8vw;
    color: #aaaaaa;
    outline: none;
  }
  .st_contact .gr_contact .frm_contact .frm_textarea {
    width: 100%;
    padding: 1.33333vw;
    font-size: 3.2vw;
    line-height: 1;
    height: 40vw;
    resize: none;
    color: #aaaaaa;
    outline: none;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox {
    font-size: 3.2vw;
    line-height: 1;
    cursor: pointer;
    margin-bottom: 0.66667vw;
    position: relative;
    font-weight: normal;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox a {
    position: relative;
    font-size: 3.2vw;
    color: #1ba4db;
    text-decoration: underline;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] {
    display: none;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"]:checked + span::after {
    background: url("../images/icon_check.png") 0 0 no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 3.6vw;
    height: 2.13333vw;
    top: 0.66667vw;
    left: 0.4vw;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 4.66667vw;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span::before, .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span::after {
    position: absolute;
    content: "";
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: block;
    width: 3.33333vw;
    height: 3.33333vw;
    left: 0;
    top: 0;
  }
  .st_contact .gr_contact .frm_contact .frm_checkbox input.check[type="checkbox"] + span::before {
    border: 1px solid #000;
  }
  .st_contact .gr_contact .frm_contact .frm_btn {
    margin-top: 6.66667vw;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button {
    width: 100%;
    height: 9.46667vw;
    font-size: 3.46667vw;
    line-height: 1;
    font-weight: bold;
    color: #fff;
    background-color: #1ba4db;
    border: 1px solid #1ba4db;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button span {
    display: inline-block;
    position: relative;
    padding-left: 6.66667vw;
  }
  .st_contact .gr_contact .frm_contact .frm_btn button span:before {
    content: "";
    background: url(../images/arr_link.png) no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 3.73333vw;
    height: 4.13333vw;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
}

span.wpcf7-list-item {
  margin: 0;
}
