@media screen and (min-width: 769px), print {
  .service {
    padding: 40px 0 0;
  }
  .service_main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service_main_l {
    width: 230px;
    margin-right: 50px;
  }
  .service_main_l h2 {
    font-size: 2rem;
    line-height: 1;
    font-weight: bold;
    position: relative;
    padding-bottom: 34px;
  }
  .service_main_l h2::after {
    position: absolute;
    content: "";
    width: 5000%;
    right: 0;
    bottom: 0;
    background: #000;
    height: 1px;
  }
  .service_main_l ul {
    margin-top: 25px;
  }
  .service_main_l ul.active li {
    opacity: 1;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .service_main_l ul li {
    display: block;
    opacity: 0;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transform: translate(-50px, 50px);
       -moz-transform: translate(-50px, 50px);
        -ms-transform: translate(-50px, 50px);
            transform: translate(-50px, 50px);
  }
  .service_main_l ul li a {
    font-size: 1.6rem;
    line-height: 4.2rem;
    font-weight: bold;
    color: #000;
  }
  .service_main_l ul li a:hover, .service_main_l ul li a.active {
    color: #1ba4db;
  }
  .service_main_l ul li a figure {
    display: none;
  }
  .service_main_l ul.active li {
    opacity: 1;
  }
  .service_main_r {
    width: 430px;
    padding-top: 54px;
  }
  .service_main_r .slide {
    width: 100%;
    overflow: hidden;
    height: 380px;
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .service_main_r .slide.active {
    opacity: 1;
  }
  .service_main_r .slide ul {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .service_main_r .slide ul li {
    font-size: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
  }
  .service_main_r .slide ul li:hover img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .service_main_r .slide ul li img {
    width: 430px;
    height: 380px;
    object-fit: cover;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .service_main_r .slide::after {
    display: table;
    content: '';
    clear: both;
  }
  .service.fadeOut {
    position: relative;
    -webkit-transform: translateY(-100vh);
       -moz-transform: translateY(-100vh);
        -ms-transform: translateY(-100vh);
            transform: translateY(-100vh);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    z-index: -1;
  }
  .overlay {
    position: fixed;
    z-index: 99;
    background: #fff;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 100vh;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
  }
  .overlay.active {
    opacity: 1;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  .service {
    padding: 40px 0 0;
  }
  .service_main_l h2 {
    font-size: 4vw;
    line-height: 1;
    font-weight: bold;
    position: relative;
    padding-bottom: 4.53333vw;
    padding-right: 10vw;
    display: inline-block;
  }
  .service_main_l h2::after {
    position: absolute;
    content: "";
    width: 5000%;
    right: 0;
    bottom: 0;
    background: #000;
    height: 1px;
  }
  .service_main_l ul {
    margin-top: 6.66667vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service_main_l ul li {
    width: 41.2vw;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
  }
  .service_main_l ul li:not(:nth-child(-n+2)) {
    margin-top: 5.33333vw;
  }
  .service_main_l ul li a {
    font-size: 3.06667vw;
    line-height: 5.73333vw;
    font-weight: bold;
    color: #000;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
  }
  .service_main_l ul li a figure {
    position: relative;
    font-size: 0;
  }
  .service_main_l ul li a figure img {
    width: 100%;
    height: 41.2vw;
    object-fit: cover;
  }
  .service_main_l ul li a figure figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 4.53333vw;
    line-height: 5.86667vw;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #fff;
    text-align: center;
    width: 100%;
  }
  .service_main_l ul li a figure figcaption > img {
    max-width: 80%;
    width: auto;
    height: auto;
  }
}
