@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_privacy{
  .gr_privacy{
    margin: vw(50) 0;
    p{
      font-size: vw(24);
      line-height: vw(44);
    }
    .mg_bt{
      margin-bottom: vw(30);
    }
    &_top{
      .time{
        font-size: vw(24);
        color: #7d7d7d;
        line-height: 1;
        margin-bottom: vw(20);
        display: block;
        time{
          margin-left: vw(20);
        }
      }
      &_l{
        margin: vw(20) 0;
        counter-reset: li;
        li{
          font-size: vw(24);
          line-height: vw(44);
          position: relative;
          padding-left: vw(30);
          &:before{
            counter-increment: li;
            content: counter(li)".";
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      &_btt{
        text-align: right;
        margin-top: vw(40);
        span{
          font-size: vw(26);
          line-height: vw(44);
          display: block;
        }
        em{
          font-size: vw(28);
          line-height: vw(44);
          display: block;
          font-style: normal;
        }
      }
    }
    &_bottom{
      article{
        margin-top: vw(40);
        .tt_pr{
          font-size: vw(30);
          line-height: 1;
          color: #fff;
          background-color: #1ba4db;
          padding: vw(15) vw(20);
          margin-bottom: vw(30);
        }
        .main_art{
          dl{
            margin-bottom: vw(30);
            dt{
              font-size: vw(24);
              color: #1ba4db;
              line-height: vw(44);
              margin-bottom: vw(5);
            }
            dd{
              .bx_sub{
                margin: vw(20) 0;
                h4{
                  font-size: vw(24);
                  line-height: vw(44);
                  border-bottom: 1px solid #1ba4db;
                  padding-bottom: vw(10);
                }
                &_s{
                  margin: vw(20) 0;
                  padding-left: vw(30);
                  dl{
                    dt{
                      font-size: vw(24);
                      color: #000000;
                      font-weight: bold;
                      margin-bottom: 0;
                    }
                  }
                }
              }
              .list_nb{
                margin: vw(20) 0;
                counter-reset: li;
                li{
                  font-size: vw(24);
                  line-height: vw(44);
                  position: relative;
                  padding-left: vw(60);
                  &:before{
                    counter-increment: li;
                    content: "( " counter(li) " )";
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
                }
              }
              .bx_add{
                margin-top: vw(30);
                .mail{
                  color: #000;
                }
              }
              .tel{
                color: #000;
              }
              .bx_pd_l{
                padding-left: vw(30);
                .list_n{
                  margin: vw(20) 0;
                  li{
                    font-size: vw(24);
                    line-height: vw(44);
                    position: relative;
                    padding-left: vw(35);
                    span{
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}