@charset "utf-8";
// ===================================================================
//  use toppage
// ===================================================================
.st_privacy{
  .wrap{
    max-width: 829px;
  }
  .gr_privacy{
    margin: 50px auto;
    p{
      font-size: rem(15);
      line-height: 29px;
    }
    .mg_bt{
      margin-bottom: 20px;
    }
    &_top{
      .time{
        font-size: rem(14);
        color: #7d7d7d;
        line-height: 28px;
        time{
          margin-left: 10px;
        }
      }
      &_l{
        margin: 20px 0;
        counter-reset: li;
        li{
          font-size: rem(15);
          line-height: 29px;
          position: relative;
          padding-left: 30px;
          &:before{
            counter-increment: li;
            content: counter(li)".";
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }
      &_btt{
        text-align: right;
        margin-top: 30px;
        span{
          font-size: rem(16);
          line-height: 29px;
          display: block;
        }
        em{
          font-size: rem(18);
          line-height: 29px;
          display: block;
          font-style: normal;
        }
      }
    }
    &_bottom{
      article{
        margin-top: 40px;
        .tt_pr{
          font-size: rem(20);
          line-height: 1;
          color: #fff;
          background-color: #1ba4db;
          padding: 12px 16px;
          margin-bottom: 25px;
        }
        .main_art{
          dl{
            margin-bottom: 20px;
            dt{
              font-size: rem(15);
              color: #1ba4db;
              line-height: 29px;
              margin-bottom: 5px;
            }
            dd{
              .bx_sub{
                margin: 20px 0;
                h4{
                  font-size: rem(18);
                  line-height: 24px;
                  border-bottom: 1px solid #1ba4db;
                  padding-bottom: 10px;
                }
                &_s{
                  margin: 20px 0;
                  padding-left: 70px;
                  dl{
                    dt{
                      font-size: rem(15);
                      color: #000000;
                      font-weight: bold;
                      margin-bottom: 0;
                    }
                  }
                }
              }
              .list_nb{
                margin: 20px 0;
                counter-reset: li;
                li{
                  font-size: rem(15);
                  line-height: 29px;
                  position: relative;
                  padding-left: 45px;
                  &:before{
                    counter-increment: li;
                    content: "( " counter(li) " )";
                    position: absolute;
                    top: 0;
                    left: 0;
                  }
                }
              }
              .bx_add{
                margin-top: 30px;
                .mail{
                  color: #000;
                }
              }
              .tel{
                color: #000;
                pointer-events: none;
              }
              .bx_pd_l{
                padding-left: 70px;
                .list_n{
                  margin: 30px 0;
                  li{
                    font-size: rem(15);
                    line-height: 29px;
                    position: relative;
                    padding-left: 25px;
                    span{
                      position: absolute;
                      top: 0;
                      left: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}