@media screen and (min-width: 769px), print {
  .news_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 70px 100px;
  }
  .news_aside {
    width: 228px;
    margin-right: 42px;
  }
  .news_aside h3 {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding: 0 0 12px 0;
    border-bottom: 1px solid #000;
  }
  .news_aside ul li {
    width: 100%;
    margin-top: 15px;
  }
  .news_aside ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 32px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #000;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    border: 1px solid #dcdcdc;
  }
  .news_aside ul li a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #333333;
    left: 0;
    top: 0;
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transform: scale(1, 0);
       -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
            transform: scale(1, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
    z-index: -1;
  }
  .news_aside ul li a:hover {
    color: #fff;
  }
  .news_aside ul li a:hover::before {
    -webkit-transform: scale(1, 1);
       -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  .news_list {
    width: -webkit-calc(100% - 228px - 42px);
    width: -moz-calc(100% - 228px - 42px);
    width: calc(100% - 228px - 42px);
  }
  .news_list_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news_list_wrap article {
    width: 350px;
  }
  .news_list_wrap article:not(:nth-child(-n+2)) {
    margin-top: 35px;
  }
  .news_list_wrap article figure {
    position: relative;
    line-height: 0;
    overflow: hidden;
  }
  .news_list_wrap article figure img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .news_list_wrap article figure figcaption {
    position: absolute;
    display: inline-block;
    font-size: 1.1rem;
    line-height: 1;
    color: #fff;
    padding: 8px 23px 7px 25px;
    white-space: nowrap;
    background: #000;
    top: 0;
    left: 0;
  }
  .news_list_wrap article time {
    font-size: 1.1rem;
    line-height: 0.8;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    color: #7d7d7d;
    display: inline-block;
  }
  .news_list_wrap article h3 {
    font-size: 1.8rem;
    line-height: 24px;
    color: #434343;
    font-weight: bold;
    margin-top: 10px;
  }
  .news_list_wrap article p {
    font-size: 1.3rem;
    line-height: 18px;
    font-weight: 500;
    color: #7d7d7d;
    margin-top: 8px;
    overflow: hidden;
    position: relative;
    line-height: 18px;
    max-height: 36px;
    text-align: justify;
    padding-right: 1em;
  }
  .news_list_wrap article p:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .news_list_wrap article p:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }
  .news_list_wrap article a:hover figure img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .news_list_pagi {
    margin-top: 33px;
  }
  .news_list_pagi ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news_list_pagi ul li {
    width: 42px;
    height: 42px;
  }
  .news_list_pagi ul li:not(:last-child) {
    margin-right: 5px;
  }
  .news_list_pagi ul li a, .news_list_pagi ul li span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    color: #000;
    font-size: 1.6rem;
    line-height: 0.8;
    font-family: "Roboto", sans-serif;
  }
  .news_list_pagi ul li a.page-numbers:hover, .news_list_pagi ul li a.page-numbers.active, .news_list_pagi ul li span.page-numbers:hover, .news_list_pagi ul li span.page-numbers.active {
    color: #fff;
    background: #000;
  }
  .news_list_pagi ul li a.next, .news_list_pagi ul li a.prev, .news_list_pagi ul li span.next, .news_list_pagi ul li span.prev {
    text-indent: -9999px;
    overflow: hidden;
  }
  .news_list_pagi ul li a.next:hover, .news_list_pagi ul li a.prev:hover, .news_list_pagi ul li span.next:hover, .news_list_pagi ul li span.prev:hover {
    background-color: transparent;
  }
  .news_list_pagi ul li a.prev, .news_list_pagi ul li a.prev:hover, .news_list_pagi ul li span.prev, .news_list_pagi ul li span.prev:hover {
    background: url("../images/arrow_prev.png") center no-repeat;
    -moz-background-size: 10px 12px;
         background-size: 10px 12px;
  }
  .news_list_pagi ul li a.next, .news_list_pagi ul li a.next:hover, .news_list_pagi ul li span.next, .news_list_pagi ul li span.next:hover {
    background: url("../images/arrow_next.png") center no-repeat;
    -moz-background-size: 10px 12px;
         background-size: 10px 12px;
  }
  .news_list_pagi ul li span.current {
    color: #fff;
    background: #000;
  }
  .news_article_banner {
    text-align: center;
    line-height: 0;
    margin-bottom: 20px;
  }
  .news_article_banner img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .news_article .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_article .info span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 22px;
    padding: 7px 47px 6px;
    background: #000;
    color: #fff;
    margin-right: 18px;
  }
  .news_article .info time {
    font-size: 1.4rem;
    line-height: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #7d7d7d;
  }
  .news_article_ttl {
    font-size: 3rem;
    line-height: 40px;
    font-weight: bold;
    margin-top: 26px;
  }
  .news_article_social {
    margin-top: 23px;
  }
  .news_article_social > img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .news_article_content {
    margin-top: 14px;
  }
  .news_article_content p {
    font-size: 1.5rem;
    line-height: 29px;
    margin-top: 27px;
  }
  .news_article_content h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    color: #fff;
    padding: 7px 17px;
    background: #1ba4db;
    margin-top: 27px;
  }
  .news_article_content img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 27px;
  }
  .news_article_content h3 {
    font-size: 1.8rem;
    line-height: 28px;
    padding: 0 0 5px;
    font-weight: bold;
    border-bottom: 1px solid #1ba4db;
    margin-top: 27px;
  }
}

@media screen and (max-width: 768px) {
  .news_wrap {
    padding: 9.33333vw 0;
  }
  .news_aside h3 {
    font-size: 3.73333vw;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    padding: 0 0 1.33333vw 0;
    border-bottom: 1px solid #000;
  }
  .news_aside ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .news_aside ul li {
    width: 45%;
    margin-top: 2.66667vw;
  }
  .news_aside ul li a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 8vw;
    font-size: 3.73333vw;
    line-height: 1.5;
    color: #000;
    position: relative;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    border: 1px solid #dcdcdc;
  }
  .news_list_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .news_list_wrap article {
    width: 44vw;
    margin-top: 4vw;
  }
  .news_list_wrap article figure {
    position: relative;
    line-height: 0;
    overflow: hidden;
  }
  .news_list_wrap article figure img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease;
  }
  .news_list_wrap article figure figcaption {
    position: absolute;
    display: inline-block;
    font-size: 2.66667vw;
    line-height: 1;
    color: #fff;
    padding: 2.13333vw 4vw 2.13333vw 4vw;
    white-space: nowrap;
    background: #000;
    top: 0;
    left: 0;
  }
  .news_list_wrap article time {
    font-size: 2.66667vw;
    line-height: 0.8;
    margin-top: 2.66667vw;
    font-family: "Roboto", sans-serif;
    color: #7d7d7d;
    display: inline-block;
  }
  .news_list_wrap article h3 {
    font-size: 3.46667vw;
    overflow: hidden;
    position: relative;
    line-height: 5.2vw;
    max-height: 10.4vw;
    text-align: justify;
    padding-right: 1em;
    color: #434343;
    font-weight: bold;
    margin-top: 1.33333vw;
  }
  .news_list_wrap article h3:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .news_list_wrap article h3:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }
  .news_list_wrap article p {
    font-size: 3.46667vw;
    font-weight: 500;
    color: #7d7d7d;
    margin-top: 1.33333vw;
    overflow: hidden;
    position: relative;
    line-height: 5.2vw;
    max-height: 10.4vw;
    text-align: justify;
    padding-right: 1em;
  }
  .news_list_wrap article p:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .news_list_wrap article p:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: white;
  }
  .news_list_wrap article a:hover figure img {
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
  .news_list_pagi {
    margin-top: 4.4vw;
  }
  .news_list_pagi ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news_list_pagi ul li {
    width: 8vw;
    height: 8vw;
  }
  .news_list_pagi ul li:not(:last-child) {
    margin-right: 1.33333vw;
  }
  .news_list_pagi ul li a, .news_list_pagi ul li span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    color: #000;
    font-size: 3.2vw;
    line-height: 0.8;
    font-family: "Roboto", sans-serif;
  }
  .news_list_pagi ul li a.page-numbers:hover, .news_list_pagi ul li a.page-numbers.active, .news_list_pagi ul li span.page-numbers:hover, .news_list_pagi ul li span.page-numbers.active {
    color: #fff;
    background: #000;
  }
  .news_list_pagi ul li a.next, .news_list_pagi ul li a.prev, .news_list_pagi ul li span.next, .news_list_pagi ul li span.prev {
    text-indent: -9999px;
    overflow: hidden;
  }
  .news_list_pagi ul li a.prev, .news_list_pagi ul li span.prev {
    background: url("../images/arrow_prev.png") center no-repeat;
    -moz-background-size: 2.66667vw 3.2vw;
         background-size: 2.66667vw 3.2vw;
  }
  .news_list_pagi ul li a.next, .news_list_pagi ul li span.next {
    background: url("../images/arrow_next.png") center no-repeat;
    -moz-background-size: 2.66667vw 3.2vw;
         background-size: 2.66667vw 3.2vw;
  }
  .news_list_pagi ul li .span.current {
    color: #fff;
    background: #000;
  }
  .news_article_banner {
    text-align: center;
    line-height: 0;
    margin-bottom: 20px;
  }
  .news_article_banner img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .news_article {
    margin-top: 6.66667vw;
  }
  .news_article .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_article .info span {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 22px;
    padding: 7px 47px 6px;
    background: #000;
    color: #fff;
    margin-right: 18px;
  }
  .news_article .info time {
    font-size: 1.4rem;
    line-height: 35px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #7d7d7d;
  }
  .news_article_ttl {
    font-size: 3rem;
    line-height: 40px;
    font-weight: bold;
    margin-top: 26px;
  }
  .news_article_social {
    margin-top: 23px;
  }
  .news_article_social > img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .news_article_content {
    margin-top: 14px;
  }
  .news_article_content p {
    font-size: 1.5rem;
    line-height: 29px;
    margin-top: 27px;
  }
  .news_article_content h2 {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: bold;
    color: #fff;
    padding: 7px 17px;
    background: #1ba4db;
    margin-top: 27px;
  }
  .news_article_content img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 27px;
  }
  .news_article_content h3 {
    font-size: 1.8rem;
    line-height: 28px;
    padding: 0 0 5px;
    font-weight: bold;
    border-bottom: 1px solid #1ba4db;
    margin-top: 27px;
  }
}
