.clearfix:after {
  content: ".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.theme_option {
  width: 1000px;
}
.theme_option tr th {
  width: 15%;
  text-align: right;
}
.theme_option input[type='text'] {
    width:100%;
    padding:10px;
    font-size: 14px;
    line-height:20px;
}
.theme_option textarea {
    width:100%;
}
.theme_option_sm {
    cursor: pointer;
    background:blue;
    color:#fff;
    font-size:14px;
    line-height:20px;
    padding:5px 15px;
    border-radius:10px;
    border: none;
}
.layout {
    width:100%;
}
.layout .col-layout {
    width:25%;
    float:left;
    text-align:center;
}
.layout .col-layout span {
    display:inline-block;
    background:red;
}
.layout .col-layout .haft-haft {
    width:50px;
    height:50px;
}
.layout .col-layout .full-haft {
    width:100px;
    height:50px;
}
.layout .col-layout .haft-full {
    width:50px;
    height:100px;
}
.layout .col-layout .full {
    width:100px;
    height:100px;
}
.simplePanelImagePreview img{
  max-width: 100%!important;
  width: auto!important;
  height: auto!important;
}