@media screen and (min-width: 769px), print {
  .btn_white {
    font-size: 1.4rem;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #000;
    width: 200px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background: rgba(255, 255, 255, 0.85);
    margin: 20px auto 0;
    color: #000;
  }
  .btn_white:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .btn_white:hover:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .btn_black {
    font-size: 1.4rem;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #fff;
    width: 200px;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background: #000;
    border: 1px solid #000;
    margin: 0 auto 0;
  }
  .btn_black:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .btn_black:hover {
    color: #000;
  }
  .btn_black:hover:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .video {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media screen and (min-width: 769px) and (max-aspect-ratio: 16 / 9) {
  .video {
    height: 100%;
    width: auto;
    background-color:#ffffff;

  }

}

@media screen and (min-width: 769px), print {
  .banner {
    position: relative;
    height: -webkit-calc(100vh - 150px);
    height: -moz-calc(100vh - 150px);
    height: calc(100vh - 150px);
  }
  .banner > figure {
    line-height: 0;
  }
  .banner .bx_fig {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateZ(0);
       -moz-transform: translateZ(0);
            transform: translateZ(0);
    background: rgba(0, 0, 0, 0.15);
  }
  .banner .bx_fig h2 {
    font-size: 3.8rem;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #fff;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-weight: normal;
  }
  .banner .bx_fig p {
    font-size: 1.8rem;
    line-height: 27px;
    color: #fff;
    margin-bottom: 33px;
  }
  .banner .bx_fig span {
    cursor: pointer;
  }
  .ctn_main {
    background: #fff;
  }
  .ctn_main picture, .ctn_main figure {
    overflow: hidden;
  }
  .ctn_main picture img, .ctn_main figure img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  .ctn_main .bx_news {
    padding-top: 40px;
  }
  .ctn_main .bx_news ul {
    background-color: #fafafa;
    padding: 12px 20px;
    margin: 0 0 35px;
    overflow: hidden;
  }
  .ctn_main .bx_news li {
    text-align: center;
    width: 100%;
  }
  .ctn_main .bx_news li a {
    font-size: 1.4rem;
    display: inline-block;
    color: #000000;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    outline: none;
  }
  .ctn_main .bx_news li time {
    margin-right: 25px;
  }
  .ctn_main .bx_news li em {
    font-style: normal;
  }
  .ctn_main .item {
    position: relative;
    overflow: hidden;
    line-height: 0;
  }
  .ctn_main .item figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 0 20px 15px;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
  }
  .ctn_main .item figcaption span {
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
    display: block;
  }
  .ctn_main .item figcaption em {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
    font-style: normal;
    display: block;
  }
  .ctn_main .bx_item.bx_top {
    padding-bottom: 90px;
  }
  .ctn_main .bx_item.bx_top .link_l {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
       -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0 10px 0 0;
  }
  .ctn_main .bx_item.bx_top .link_r {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .ctn_main .bx_item.bx_center {
    background-color: #fafafa;
    padding: 90px 0;
  }
  .ctn_main .bx_item .link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ctn_main .bx_item .link_l {
    width: -webkit-calc(100% - 800px);
    width: -moz-calc(100% - 800px);
    width: calc(100% - 800px);
    padding-left: 10px;
  }
  .ctn_main .bx_item .link_l .g_item {
    margin-bottom: 10px;
  }
  .ctn_main .bx_item .link_l .g_item a {
    display: block;
  }
  .ctn_main .bx_item .link_l .g_item a:hover .btn_black {
    color: #000;
  }
  .ctn_main .bx_item .link_l .g_item a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .ctn_main .bx_item .link_l .g_item a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .ctn_main .bx_item .link_r {
    width: 800px;
  }
  .ctn_main .bx_item .link_r article {
    position: relative;
  }
  .ctn_main .bx_item .link_r article a {
    display: block;
  }
  .ctn_main .bx_item .link_r article a:hover .btn_black {
    color: #000;
  }
  .ctn_main .bx_item .link_r article a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .ctn_main .bx_item .link_r article a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .ctn_main .bx_item .link_r article figure {
    line-height: 0;
  }
  .ctn_main .bx_item .link_r article .main_art {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 90px;
  }
  .ctn_main .bx_item .link_r article .main_art h3 {
    font-size: 3.8rem;
    line-height: 1;
    color: #fff;
    font-family: "Lato", sans-serif;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 52px;
  }
  .ctn_main .bx_item .link_r article .main_art h3:after {
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: -24px;
    left: 0;
    background-color: #fff;
  }
  .ctn_main .bx_item .link_r article .main_art p {
    font-size: 1.6rem;
    line-height: 20px;
    color: #fff;
    margin-bottom: 18px;
  }
  .ctn_main .bx_item .link_r article .main_art em {
    font-size: 1.2rem;
    line-height: 20px;
    color: #fff;
    margin-bottom: 30px;
    font-style: normal;
    display: block;
  }
  .ctn_main .bx_item .link_r article .main_art .btn_black {
    margin: 0;
  }
  .bx_slider {
    margin-top: 20px;
  }
  .bx_slider .slider {
    position: relative;
  }
  .bx_slider .slider:after {
    content: "";
    clear: both;
    display: table;
  }
  .bx_slider .slider .slick-list {
    margin: 0 -10px 0;
    overflow: hidden;
    display: block;
  }
  .bx_slider .slider .slick-prev {
    background: url(../images/prev.png) left center no-repeat;
    width: 71px;
    height: 71px;
    left: -38px;
    border: none;
    position: absolute;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    z-index: 9;
  }
  .bx_slider .slider .slick-next {
    background: url(../images/next.png) right center no-repeat;
    width: 71px;
    height: 71px;
    right: -38px;
    border: none;
    position: absolute;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    z-index: 9;
  }
  .bx_slider .slider li {
    position: relative;
    float: left;
    padding: 0 10px;
  }
  .bx_slider .slider li a {
    display: block;
  }
  .bx_slider .slider li a:hover .btn_black {
    color: #000;
  }
  .bx_slider .slider li a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .bx_slider .slider li a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .bx_slider .slider li a figure {
    position: relative;
    overflow: hidden;
    line-height: 0;
  }
  .bx_slider .slider li a figure img {
    width: 100%;
    height: 214px;
    object-fit: cover;
  }
  .bx_slider .slider li a figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 0 20px 15px;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 40%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 0%, transparent 40%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, transparent 40%);
  }
  .bx_slider .slider li a figure figcaption span {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
    display: block;
  }
  .bx_slider .slider li a figure figcaption em {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #fff;
    font-style: normal;
    display: block;
  }
  .st_sky {
    padding: 85px 0 110px;
  }
  .st_sky a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .st_sky a:hover .btn_black {
    color: #000;
  }
  .st_sky a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .st_sky a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .st_sky .sky_txt {
    text-align: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    width: -webkit-calc(100% - 720px);
    width: -moz-calc(100% - 720px);
    width: calc(100% - 720px);
    min-height: 450px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_sky .sky_txt h3 {
    font-size: 2.6rem;
    line-height: 1;
    color: #000;
    margin-bottom: 24px;
  }
  .st_sky .sky_txt p {
    font-size: 1.4rem;
    line-height: 28px;
    color: #08001e;
    margin-bottom: 33px;
  }
  .st_sky picture {
    width: 720px;
    line-height: 0;
  }
  .gr_list_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -15px;
  }
  .gr_list_l article {
    width: -webkit-calc(33.33% - 15px);
    width: -moz-calc(33.33% - 15px);
    width: calc(33.33% - 15px);
    margin-left: 15px;
  }
  .gr_list_l article a {
    display: block;
    position: relative;
  }
  .gr_list_l article a:hover .btn_black {
    color: #000;
  }
  .gr_list_l article a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .gr_list_l article a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .gr_list_l article a picture {
    line-height: 0;
  }
  .gr_list_l article a .art_txt {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 15px;
  }
  .gr_list_l article a .art_txt h3 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-bottom: 5px;
    display: block;
  }
  .gr_list_l article a .art_txt em {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #fff;
    font-style: normal;
    display: block;
  }
  .gr_social {
    padding: 62px 0 59px;
  }
  .gr_social .row {
    max-width: 810px;
    padding: 0 7px;
  }
  .gr_social_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
  }
  .gr_social_l li {
    width: -webkit-calc(33.33% - 30px);
    width: -moz-calc(33.33% - 30px);
    width: calc(33.33% - 30px);
    margin-left: 30px;
  }
  .gr_social_l li a {
    width: 245px;
    height: 213px;
    border: 1px solid #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gr_social_l li a:hover {
    opacity: 0.7;
  }
  .gr_social_l li a:hover figure {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotate(360deg);
            transform: rotateZ(360deg);
  }
  .gr_social_l li a figure {
    margin-bottom: 24px;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }
  .gr_social_l li a h4 {
    font-size: 2.2rem;
    line-height: 1;
    display: block;
    color: #000;
    margin-bottom: 9px;
  }
  .gr_social_l li a em {
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1;
    color: #898989;
    display: block;
  }
  .st_contact .bx_contact {
    position: relative;
  }
  .st_contact .bx_contact a {
    display: block;
  }
  .st_contact .bx_contact a:hover .btn_white {
    color: #000;
  }
  .st_contact .bx_contact a:hover .btn_white:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .st_contact .bx_contact a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .st_contact .bx_contact picture {
    line-height: 0;
  }
  .st_contact .bx_contact img {
    width: 100%;
    height: auto;
  }
  .st_contact .bx_contact .bx_fig {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .st_contact .bx_contact .bx_fig h2 {
    font-size: 3.8rem;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #fff;
    margin-bottom: 35px;
    letter-spacing: 2px;
    font-weight: normal;
  }
  .st_contact .bx_contact .bx_fig p {
    font-size: 1.8rem;
    line-height: 27px;
    color: #fff;
    margin-bottom: 33px;
  }
  .st_contact .fv_slider {
    width: 100%;
    height: auto;
  }
  .st_contact .fv_slider .main_carousel {
    height: 152px;
    overflow: hidden;
    position: relative;
  }
  .st_contact .fv_slider .main_carousel ul {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .st_contact .fv_slider .main_carousel ul li {
    width: 179px;
  }
  .st_contact .fv_slider .main_carousel ul li img {
    width: 100%;
    height: auto;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
  }
  .popup.open {
    opacity: 1;
    visibility: visible;
  }
  .popup.open .main_popup {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .popup .main_popup {
    visibility: hidden;
    position: relative;
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
    width: 900px;
    max-width: 100%;
  }
  .popup .main_popup video {
    width: 100%;
    height: auto;
  }
  .popup .main_popup .close {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
  }
  .popup .main_popup .close::before, .popup .main_popup .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    -moz-border-radius: 5px;
         border-radius: 5px;
    margin-top: -6px;
  }
  .popup .main_popup .close::before {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .popup .main_popup .close::after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {
  .btn_white {
    font-size: 2.4vw;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #000;
    width: 33.33333vw;
    height: 8.4vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background: rgba(255, 255, 255, 0.75);
    margin: 0 auto 0;
    color: #000;
  }
  .btn_white:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .btn_white:hover:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .btn_black {
    font-size: 2.4vw;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #fff;
    width: 33.33333vw;
    height: 8.4vw;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
       -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -moz-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background: #000;
    border: 1px solid #000;
    margin: 0 auto 0;
  }
  .btn_black:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
       -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 50%;
       -moz-transform-origin: 50%;
        -ms-transform-origin: 50%;
            transform-origin: 50%;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    -moz-transition-property: transform, -moz-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform, -moz-transform;
    -webkit-transition-duration: 0.3s;
       -moz-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
  }
  .btn_black:hover {
    color: #000;
  }
  .btn_black:hover:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .video {
    position: fixed;
    height: auto;
    width: 100%;
    z-index: -1;
  }
  .banner {
    position: relative;
    min-height: 64vw;
  }
  .banner > figure {
    line-height: 0;
  }
  .banner .bx_fig {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.15);
  }
  .banner .bx_fig h2 {
    font-size: 4vw;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #fff;
    margin-bottom: 5.33333vw;
    letter-spacing: 0.4vw;
    font-weight: normal;
  }
  .banner .bx_fig p {
    font-size: 2.93333vw;
    line-height: 2.66667vw;
    color: #fff;
    margin-bottom: 4.8vw;
  }
  .ctn_main {
    background: #fff;
  }
  .ctn_main picture, .ctn_main figure {
    overflow: hidden;
  }
  .ctn_main picture img, .ctn_main figure img {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  .ctn_main .bx_news {
    background-color: #fafafa;
  }
  .ctn_main .bx_news ul {
    padding: 2.53333vw 0;
    margin: 5.33333vw 0 5.86667vw;
  }
  .ctn_main .bx_news li a {
    font-size: 2.66667vw;
    display: block;
    color: #000000;
    text-align: center;
  }
  .ctn_main .bx_news li time {
    margin-right: 4.53333vw;
  }
  .ctn_main .bx_news li em {
    font-style: normal;
  }
  .ctn_main .item {
    position: relative;
    overflow: hidden;
    line-height: 0;
  }
  .ctn_main .item figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 0 2.13333vw 2.13333vw;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
  }
  .ctn_main .item figcaption span {
    font-size: 3.46667vw;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-bottom: 1.46667vw;
    display: block;
  }
  .ctn_main .item figcaption em {
    font-size: 2.4vw;
    line-height: 1.5;
    color: #fff;
    font-style: normal;
    display: block;
  }
  .ctn_main .bx_item.bx_top {
    padding-bottom: 6.66667vw;
  }
  .ctn_main .bx_item.bx_center {
    background-color: #fafafa;
    padding: 8vw 0;
  }
  .ctn_main .bx_item .link_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -1.33333vw;
  }
  .ctn_main .bx_item .link_l .g_item {
    width: -webkit-calc(50% - 1.33333vw);
    width: -moz-calc(50% - 1.33333vw);
    width: calc(50% - 1.33333vw);
    margin-left: 1.33333vw;
  }
  .ctn_main .bx_item .link_r {
    width: 100%;
    margin-bottom: 1.33333vw;
  }
  .ctn_main .bx_item .link_r article {
    position: relative;
  }
  .ctn_main .bx_item .link_r article a {
    display: block;
  }
  .ctn_main .bx_item .link_r article a:hover .btn_black {
    color: #000;
  }
  .ctn_main .bx_item .link_r article a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .ctn_main .bx_item .link_r article a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .ctn_main .bx_item .link_r article figure {
    line-height: 0;
  }
  .ctn_main .bx_item .link_r article .main_art {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 8.4vw;
  }
  .ctn_main .bx_item .link_r article .main_art h3 {
    font-size: 6.66667vw;
    line-height: 1;
    color: #fff;
    font-family: "Lato", sans-serif;
    position: relative;
    letter-spacing: 0.4vw;
    margin-bottom: 9.33333vw;
  }
  .ctn_main .bx_item .link_r article .main_art h3:after {
    content: "";
    width: 8vw;
    height: 0.4vw;
    position: absolute;
    bottom: -4.8vw;
    left: 0;
    background-color: #fff;
  }
  .ctn_main .bx_item .link_r article .main_art p {
    font-size: 3.2vw;
    line-height: 4vw;
    color: #fff;
    margin-bottom: 2.66667vw;
  }
  .ctn_main .bx_item .link_r article .main_art em {
    font-size: 2.4vw;
    line-height: 4vw;
    color: #fff;
    margin-bottom: 6vw;
    font-style: normal;
    display: block;
  }
  .ctn_main .bx_item .link_r article .main_art .btn_black {
    margin: 0;
  }
  .bx_slider {
    margin-top: 5.33333vw;
  }
  .bx_slider .slider {
    position: relative;
  }
  .bx_slider .slider:after {
    content: "";
    clear: both;
    display: table;
  }
  .bx_slider .slider .slick-list {
    overflow: hidden;
    display: block;
    margin: 0 2.66667vw;
  }
  .bx_slider .slider .slick-prev {
    background: url(../images/prev.png) left center no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 9.6vw;
    height: 9.6vw;
    left: 0;
    border: none;
    position: absolute;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    z-index: 9;
  }
  .bx_slider .slider .slick-next {
    background: url(../images/next.png) right center no-repeat;
    -moz-background-size: contain;
         background-size: contain;
    width: 9.6vw;
    height: 9.6vw;
    right: 0;
    border: none;
    position: absolute;
    border: 0;
    -moz-box-shadow: none;
         box-shadow: none;
    outline: none;
    text-indent: -9999px;
    overflow: hidden;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    z-index: 9;
  }
  .bx_slider .slider li {
    position: relative;
    float: left;
    padding: 0 0.66667vw;
  }
  .bx_slider .slider li a {
    display: block;
  }
  .bx_slider .slider li a:hover .btn_black {
    color: #000;
  }
  .bx_slider .slider li a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .bx_slider .slider li a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .bx_slider .slider li a figure {
    position: relative;
    overflow: hidden;
    line-height: 0;
  }
  .bx_slider .slider li a figure img {
    width: 100%;
    height: auto;
  }
  .bx_slider .slider li a figure figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 0 2.66667vw 2.66667vw;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, transparent 30%);
  }
  .bx_slider .slider li a figure figcaption span {
    font-size: 2.93333vw;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-bottom: 1.33333vw;
    display: block;
  }
  .bx_slider .slider li a figure figcaption em {
    font-size: 2.4vw;
    line-height: 1.5;
    color: #fff;
    font-style: normal;
    display: block;
  }
  .st_sky {
    padding: 6vw 0 7.73333vw;
  }
  .st_sky .sky_txt {
    text-align: center;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    min-height: 41.6vw;
    max-width: 89.86667vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .st_sky .sky_txt h3 {
    font-size: 4vw;
    line-height: 1;
    color: #000;
    margin-bottom: 4.8vw;
  }
  .st_sky .sky_txt p {
    font-size: 2.93333vw;
    line-height: 5.6vw;
    color: #08001e;
    margin-bottom: 4.66667vw;
  }
  .st_sky picture {
    line-height: 0;
  }
  .gr_list_l article:not(:last-child) {
    margin-bottom: 2.66667vw;
  }
  .gr_list_l article a {
    display: block;
    position: relative;
  }
  .gr_list_l article a:hover .btn_black {
    color: #000;
  }
  .gr_list_l article a:hover .btn_black:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .gr_list_l article a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .gr_list_l article a picture {
    line-height: 0;
  }
  .gr_list_l article a .art_txt {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 3.73333vw;
  }
  .gr_list_l article a .art_txt h3 {
    font-size: 3.73333vw;
    font-weight: bold;
    color: #fff;
    line-height: 1;
    margin-bottom: 1.33333vw;
    display: block;
  }
  .gr_list_l article a .art_txt em {
    font-size: 2.93333vw;
    line-height: 1.5;
    color: #fff;
    font-style: normal;
    display: block;
  }
  .gr_social {
    padding: 8vw 0;
  }
  .gr_social_l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -2.66667vw;
  }
  .gr_social_l li {
    width: -webkit-calc(33.33% - 2.66667vw);
    width: -moz-calc(33.33% - 2.66667vw);
    width: calc(33.33% - 2.66667vw);
    margin-left: 2.66667vw;
  }
  .gr_social_l li a {
    width: auto;
    height: 25.06667vw;
    border: 1px solid #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gr_social_l li a:hover {
    opacity: 0.7;
  }
  .gr_social_l li a:hover figure {
    -webkit-transform: rotateZ(360deg);
       -moz-transform: rotateZ(360deg);
        -ms-transform: rotate(360deg);
            transform: rotateZ(360deg);
  }
  .gr_social_l li a figure {
    margin-bottom: 2.8vw;
    -webkit-transition: 0.6s ease-out;
    -moz-transition: 0.6s ease-out;
    transition: 0.6s ease-out;
  }
  .gr_social_l li a figure img {
    width: 8.13333vw;
    height: 8.13333vw;
  }
  .gr_social_l li a h4 {
    font-size: 3.46667vw;
    line-height: 1;
    display: block;
    color: #000;
    margin-bottom: 2vw;
  }
  .gr_social_l li a em {
    font-style: normal;
    font-size: 2.4vw;
    line-height: 1;
    color: #898989;
    display: block;
  }
  .st_contact .bx_contact {
    position: relative;
  }
  .st_contact .bx_contact a {
    display: block;
  }
  .st_contact .bx_contact a:hover .btn_white {
    color: #000;
  }
  .st_contact .bx_contact a:hover .btn_white:before {
    -webkit-transform: scaleX(1);
       -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .st_contact .bx_contact a:hover img {
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
  .st_contact .bx_contact picture {
    line-height: 0;
  }
  .st_contact .bx_contact img {
    width: 100%;
    height: auto;
  }
  .st_contact .bx_contact .bx_fig {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
  .st_contact .bx_contact .bx_fig h2 {
    font-size: 4vw;
    line-height: 1;
    font-family: "Lato", sans-serif;
    color: #fff;
    margin-bottom: 3.33333vw;
    letter-spacing: 0.4vw;
    font-weight: normal;
  }
  .st_contact .bx_contact .bx_fig p {
    font-size: 2.93333vw;
    line-height: 4.53333vw;
    color: #fff;
    margin-bottom: 3.73333vw;
  }
  .st_contact .fv_slider {
    width: 100%;
    height: auto;
  }
  .st_contact .fv_slider .main_carousel {
    height: 19.06667vw;
    overflow: hidden;
    position: relative;
  }
  .st_contact .fv_slider .main_carousel ul {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .st_contact .fv_slider .main_carousel ul li {
    width: 26.66667vw;
    line-height: 0;
  }
  .st_contact .fv_slider .main_carousel ul li img {
    width: 100%;
    height: auto;
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
  }
  .popup.open {
    opacity: 1;
    visibility: visible;
  }
  .popup.open .main_popup {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .popup .main_popup {
    visibility: hidden;
    position: relative;
    -webkit-transform: translateY(100px);
       -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: left;
    width: 100%;
    max-width: 100%;
  }
  .popup .main_popup video {
    width: 100%;
    height: auto;
  }
  .popup .main_popup iframe {
    width: 100%;
    height: 70vw;
  }
  .popup .main_popup .close {
    position: absolute;
    z-index: 2;
    top: -35px;
    right: -35px;
    display: inline-block;
    text-indent: -9999px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border: none;
    background: transparent;
    display: none;
  }
  .popup .main_popup .close::before, .popup .main_popup .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff;
    -moz-border-radius: 5px;
         border-radius: 5px;
    margin-top: -6px;
  }
  .popup .main_popup .close::before {
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .popup .main_popup .close::after {
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
