@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl {
  background: url(../images/bkg_ttl.jpg) no-repeat;
  background-size: cover;
}
.ttl_art {
  font-size: vw(34);
  line-height: 1.5;
  position: relative;
  text-align: center;
  margin-bottom: vw(80);
  &:after {
    content: "";
    width: vw(200);
    height: vw(2);
    background-color: #55bbe4;
    position: absolute;
    bottom: vw(-10);
    left: 50%;
    transform: translateX(-50%);
  }
}
.st_shop {
  .gr_shop {
    margin: vw(80) auto 0;
    .s_item {
      &:not(:last-child) {
        margin-bottom: vw(80);
      }
      .bx_area {
       /*  background: url(../images/bkg_link.jpg) no-repeat;
       background-size: cover;
       position: relative; */
        padding: vw(20);
        dl {
          &:not(:last-child) {
            margin-bottom: vw(20);
          }
          dt {
            font-size: vw(27);
            line-height: 1;
            color: #000;
            border-bottom: 1px solid #000;
            padding-bottom: vw(12);
            margin-bottom: vw(20);
          }
          dd {
            ul {
              display: flex;
              flex-flow: row wrap;
              margin-left: vw(-20);
              li {
                width: calc(33.33% - #{vw(20)});
                border: 1px solid #fff;
                background-color: #fff;
                margin: 0 0 vw(20) vw(20);
                border: 1px solid #e1e1e1;
                a {
                  font-size: vw(25);
                  line-height: 1;
                  display: block;
                  text-align: center;
                  padding: vw(11) 0;
                  color: #000;
                  &:hover {
                    background-color: #55bbe4;
                  }
                }
                &.none {
                  background-color: #4c4c4c;
                  a {
                    color: #fff;
                    pointer-events: none;
                  }
                }
              }
            }
          }
        }
      }
      .gr_item {
        &_l {
          display: flex;
          flex-flow: row wrap;
          margin-left: vw(-20);
          li {
            width: calc(50% - #{vw(20)});
            margin: 0 0 vw(20) vw(20);
            a {
              display: block;
              figure {
                overflow: hidden;
                position: relative;
                line-height: 0;
                img {
                  width: 100%;
                  height: auto;
                  transition: all .5s;
                }
                figcaption {
                  font-size: vw(26);
                  line-height: 1;
                  color: #fff;
                  font-weight: bold;
                  position: absolute;
                  bottom: vw(20);
                  left: vw(20);
                }
              }
              &:hover {
                figure {
                  img {
                    transform: scale(1.03);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Detail */
.st_shop {
  .gr_shop_shoplist {
    margin: vw(80) auto 0;
    .item_art {
      display: flex;
      flex-flow: row wrap;
      margin-left: vw(-18);
      article {
        width: calc(50% - #{vw(18)});
        margin: 0 0 vw(40) vw(18);
        .top {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-bottom: vw(20);
          min-height: vw(65);
          .time {
            font-size: vw(18);
            color: #ea0000;
            line-height: 1;
            font-family: "Hiragino Kaku Gothic Pro", sans-serif;
            margin-bottom: vw(10);
          }
          h4 {
            font-size: vw(24);
            line-height: 1.5;
            a {
              color: #000;
            }
          }
        }
        figure {
          line-height: 0;
          margin-bottom: vw(20);
          img {
            width: 100%;
            height: auto;
          }
        }
        .btn_link {
          width: 100%;
          height: vw(50);
          font-size: vw(17);
          line-height: 1;
          font-weight: bold;
          color: #fff;
          background-color: #1ba4db;
          border: 1px solid #1ba4db;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          span {
            display: inline-block;
            position: relative;
            padding-left: vw(40);
            &:before {
              content: "";
              background: url(../images/arr_link.png) no-repeat;
              background-size: contain;
              width: vw(23);
              height: vw(26);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }

        em {
          line-height: 1;
          font-style: normal;
          color: #1ba4db;
          width: 100%;
          height: vw(50);
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eeeeee;
          margin-top: vw(20);
          span {
            display: none;
          }
          .tel {
            font-size: vw(24);
            position: relative;
            font-weight: bold;
            color: #1ba4db;
            padding-left: vw(50);
            &:before {
              content: "";
              background: url(../images/icon_tel.png) no-repeat;
              background-size: contain;
              width: vw(14);
              height: vw(20);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: vw(20);
            }
          }
        }
        p {
          font-size: vw(18);
          line-height: 1.5;
          margin-top: vw(20);
        }
      }
    }
  }
  .back_shop {
    margin: vw(40) 0 vw(20);
    a {
      font-size: vw(24);
      font-weight: bold;
      color: #1ba4db;
      position: relative;
      padding-left: vw(40);
      &:before {
        content: "";
        background: url(../images/arr_back.png) no-repeat;
        background-size: contain;
        width: vw(30);
        height: vw(20);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}

/* Detail */

.st_shop{
  .gr_shop_detail{
    margin: vw(50) auto 0;
    .art_top{
      margin-bottom: vw(60);
      figure{
        line-height: 0;
        img{
          width: 100%;
          height: auto;
        }
      }
      &_l{
        margin-top: vw(20);
        p{
          font-size: vw(24);
          line-height: 1.5;
        }
      }
    }
    .art_ct{
      margin-bottom: vw(35);
      &_map{
        iframe{
          width: 100%;
          height: vw(316);
        }
      }
      &_infor{
        margin-top: vw(50);
        dl{
          display: flex;
          &:nth-child(odd){
            background-color: #eeeeee;
          }
          dt{
            width: vw(160);
            border-right: 1px solid #fff;
            font-size: vw(20);
            line-height: 1.5;
            padding: vw(10) vw(10) vw(10) vw(18);
          }
          dd{
            width: calc(100% - #{vw(160)});
            font-size: vw(22);
            line-height: 1.5;
            padding: vw(10) vw(10) vw(10) vw(18);
            .tel{
              color: #000000;
            }
            .mail{
              color: #1ba4db;
            }
            .contact{
              color: #1ba4db;
            }
          }
        }
        .btn_l{
          margin-top: vw(30);
          font-size: 0;
          li{
            display: inline-block;
            &:not(:last-child){
              margin-right: vw(20);
            }
            a{
              font-size: vw(25);
              line-height: 1;
              display: block;
              border: 2px solid #1ba4db;
              text-align: center;
              padding: vw(30);
              color: #1ba4db;
              font-weight: bold;
              transform: perspective(1px) translateZ(0);
              transition-property: color;
              transition-duration: 0.3s;
              &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: #1ba4db;
                transform: scaleX(0);
                transform-origin: 50%;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform, -moz-transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
              }
              &:hover,&.active {
                color: #fff;
                &:before {
                  transform: scaleX(1);
                }
              }
              &.none {
                color: #fff;
                border: 2px solid grey;
                pointer-events: none;
                &:before {
                  transform: scaleX(1);
                  background: grey;
                }
              }
            }
          }
        }
      }
      &_bt{
        .btn_link {
          width: 100%;
          height: vw(71);
          font-size: vw(26);
          line-height: 1;
          font-weight: bold;
          color: #fff;
          background-color: #1ba4db;
          border: 1px solid #1ba4db;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          span {
            display: inline-block;
            position: relative;
            padding-left: vw(50);
            &:before {
              content: "";
              background: url(../images/arr_link.png) no-repeat;
              background-size: contain;
              width: vw(28);
              height: vw(31);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
        }
        em {
          line-height: 1;
          font-style: normal;
          color: #1ba4db;
          width: 100%;
          height: vw(71);
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eeeeee;
          margin-top: vw(20);
          span {
            font-size: vw(18);
          }
          .tel {
            font-size: vw(36);
            position: relative;
            font-weight: bold;
            color: #1ba4db;
            padding-left: vw(50);
            &:before {
              content: "";
              background: url(../images/icon_tel.png) no-repeat;
              background-size: contain;
              width: vw(28);
              height: vw(34);
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: vw(18);
            }
          }
        }
      }
    }
  }
}

.gr_shop_area {
  h4 {
    font-size: vw(24);
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: vw(60);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #49A2D6;
    cursor: pointer;
    &::after {
      position: relative;
      content: "";
      width: vw(28);
      height: vw(17);
      background: url('../images/arrow_down.png') 0 0 no-repeat;
      background-size: contain;
      margin-left: vw(20);
      transform-origin: 50% 50%;
      transition: transform 0.3s ease;
    }
    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &_wrap {
    display: flex;
    flex-flow: row wrap;
    article {
      width: 50%;
      font-size: vw(20);
      line-height: 1.5;
      padding: vw(20);
      h5 {
        font-weight: bold;
      }
      address {
        font-style: normal;
      }
      a {
        color: #000;
      }
    }
  }
}