@charset "utf-8";

// ===================================================================
//  use toppage
// ===================================================================
.gr_ttl {
  background: url(../images/bkg_ttl.jpg) no-repeat;
  background-size: cover;
}
.ttl_art {
  font-size: rem(28);
  line-height: 1.5;
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  &:after {
    content: "";
    width: 145px;
    height: 1px;
    background-color: #55bbe4;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.st_shop{
  .gr_shop {
    margin: 69px auto 0;
    max-width: 1000px;
    .s_item {
      &:not(:last-child) {
        margin-bottom: 107px;
      }
      .bx_area {
        background: url(../images/bkg_link.jpg) no-repeat;
        background-size: cover;
        padding: 0 0 27px;
        position: relative;
        &::after {
          content: "";
          clear: both;
          display: table;
        }
        dl {
          max-width: 226px;
          float: left;
          margin-top: 33px;
          &.dl_01 {
            margin-top: 63px;
            margin-left: 284px;
            &::after {
              clear: both;
              content: "";
              display: table;
            }
          }
          &.dl_02 {
            clear: both;
            margin: 0 30px;
          }
          &.dl_03 {

          }
          &.dl_04 {
            float: right;
            margin-right: 30px;
          }
          &.dl_05 {
            clear: both;
            margin-left: 30px;
          }
          &.dl_06 {
            float: right;
            margin-right: 30px;
          }
          dt {
            font-size: rem(14);
            line-height: 1;
            color: #fff;
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
            margin-bottom: 10px;
          }
          dd {
            ul {
              display: flex;
              flex-flow: row wrap;
              margin-left: -10px;
              li {
                width: calc(50% - 10px);
                border: 1px solid #fff;
                background-color: #fff;
                margin: 0 0 10px 10px;
                a {
                  font-size: rem(13);
                  line-height: 1;
                  display: block;
                  text-align: center;
                  padding: 6px 0;
                  color: #000;
                  &:hover {
                    background-color: #55bbe4;
                  }
                }
                &.none {
                  background-color: #000;
                  a {
                    color: #fff;
                    pointer-events: none;
                  }
                }
              }
            }
          }
        }
      }

      .gr_item {
        &_l {
          display: flex;
          flex-flow: row wrap;
          margin-left: -12px;
          li {
            width: calc(33.33% - 12px);
            margin-left: 12px;
            a {
              display: block;
              figure {
                overflow: hidden;
                position: relative;
                line-height: 0;
                img {
                  width: 100%;
                  height: auto;
                  transition: all .5s;
                }
                figcaption {
                  font-size: rem(20);
                  line-height: 1;
                  color: #fff;
                  font-weight: bold;
                  position: absolute;
                  bottom: 21px;
                  left: 17px;
                }
              }
              &:hover {
                figure {
                  img {
                    transform: scale(1.03);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Shoplist */
.st_shop {
  .gr_shop_shoplist {
    margin: 69px auto 0;
    .item_art {
      display: flex;
      flex-flow: row wrap;
      margin-left: -30px;
      article {
        width: calc(33.33% - 30px);
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .top {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          min-height: 64px;
          .time {
            font-size: rem(13);
            color: #ea0000;
            line-height: 1;
            font-family: "Hiragino Kaku Gothic Pro", sans-serif;
          }
          h4 {
            font-size: rem(18);
            line-height: 30px;
            margin-bottom: 15px;
            a {
              color: #000;
            }
          }
        }
        figure {
          line-height: 0;
          margin-bottom: 20px;
          img {
            width: 100%;
            height: auto;
          }
        }
        .btn_link {
          width: 100%;
          height: 50px;
          font-size: rem(18);
          line-height: 1;
          font-weight: bold;
          color: #fff;
          background-color: #1ba4db;
          border: 1px solid #1ba4db;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transform: perspective(1px) translateZ(0);
          transition-property: color;
          transition-duration: 0.3s;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            transform: scaleX(0);
            transform-origin: 50%;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform, -moz-transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          span {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            &:before {
              content: "";
              background: url(../images/arr_link.png) no-repeat;
              background-size: contain;
              width: 19px;
              height: 22px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
          &:hover {
            color: #1ba4db;
            &:before {
              transform: scaleX(1);
            }
            span{
              &:before{
                background: url(../images/arr_link_hv.png) no-repeat;
                background-size: contain;
              }
            }
          }
        }
        em {
          line-height: 1;
          font-style: normal;
          color: #1ba4db;
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eeeeee;
          margin-top: 18px;
          span {
            font-size: rem(13);
          }
          .tel {
            pointer-events: none;
            font-size: rem(25);
            position: relative;
            font-weight: bold;
            color: #1ba4db;
            padding-left: 30px;
            &:before {
              content: "";
              background: url(../images/icon_tel.png) no-repeat;
              background-size: contain;
              width: 15px;
              height: 21px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 10px;
            }
          }
        }
        p {
          font-size: rem(12);
          line-height: 18px;
          margin-top: 15px;
        }
        &:not(:nth-of-type(-n+3)) {
          margin-top: 30px;
        }
      }
    }
  }
  .back_shop {
    margin: 45px 0;
    a {
      font-size: rem(16);
      font-weight: bold;
      color: #1ba4db;
      position: relative;
      padding-left: 30px;
      &:before {
        content: "";
        background: url(../images/arr_back.png) no-repeat;
        background-size: contain;
        width: 25px;
        height: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }
  }
}

/* Detail */
.st_shop{
  .gr_shop_detail{
    max-width: 1000px;
    margin: 69px auto 0;
    .art_top{
      display: flex;
      margin-bottom: 40px;
      figure{
        width: 587px;
        line-height: 0;
        img {
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
      &_l{
        width: calc(100% - 413px);
        padding-left: 30px;
        p{
          font-size: rem(14);
          line-height: 24px;
        }
      }
    }
    .art_ct{
      display: flex;
      margin-bottom: 50px;
      &_map{
        width: calc(100% - 500px);
        padding-right: 40px;
        iframe{
          width: 100%;
          height: 305px;
        }
      }
      &_infor{
        width: 500px;
        dl{
          display: flex;
          &:nth-child(odd){
            background-color: #eeeeee;
          }
          dt{
            width: 115px;
            border-right: 1px solid #fff;
            font-size: rem(13);
            line-height: 34px;
            padding: 0 10px 0 20px;
          }
          dd{
            width: calc(100% - 115px);
            font-size: rem(13);
            line-height: 34px;
            padding: 0 10px 0 20px;
            .tel{
              color: #000000;
              pointer-events: none;
            }
            .mail{
              color: #1ba4db;
            }
            .contact{
              color: #1ba4db;
            }
          }
        }
        .btn_l{
          margin-top: 23px;
          font-size: 0;
          li{
            display: inline-block;
            &:not(:last-child){
              margin-right: 10px;
            }
            a{
              font-size: rem(12);
              line-height: 1;
              display: block;
              border: 2px solid #1ba4db;
              text-align: center;
              padding: 17px;
              color: #1ba4db;
              font-weight: bold;
              transform: perspective(1px) translateZ(0);
              transition-property: color;
              transition-duration: 0.3s;

              &:before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: #1ba4db;
                transform: scaleX(0);
                transform-origin: 50%;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform, -moz-transform;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
              }
              &.active,&:hover {
                color: #fff;
                &:before {
                  transform: scaleX(1);
                }
              }
              &.none {
                color: #fff;
                border: 2px solid grey;
                pointer-events: none;
                &:before {
                  transform: scaleX(1);
                  background: grey;
                }
              }
            }
          }
        }
      }
      &_bt{
        .btn_link {
          width: 100%;
          height: 71px;
          font-size: rem(26);
          line-height: 1;
          font-weight: bold;
          color: #fff;
          background-color: #1ba4db;
          border: 1px solid #1ba4db;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          transform: perspective(1px) translateZ(0);
          transition-property: color;
          transition-duration: 0.3s;
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #fff;
            transform: scaleX(0);
            transform-origin: 50%;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform, -moz-transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          span {
            display: inline-block;
            position: relative;
            padding-left: 50px;
            &:before {
              content: "";
              background: url(../images/arr_link.png) no-repeat;
              background-size: contain;
              width: 29px;
              height: 32px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
            }
          }
          &:hover {
            color: #1ba4db;
            &:before {
              transform: scaleX(1);
            }
            span{
              &:before{
                background: url(../images/arr_link_hv.png) no-repeat;
                background-size: contain;
              }
            }
          }
        }
        em {
          line-height: 1;
          font-style: normal;
          color: #1ba4db;
          width: 100%;
          height: 71px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #eeeeee;
          margin-top: 18px;
          span {
            font-size: rem(18);
          }
          .tel {
            pointer-events: none;
            font-size: rem(36);
            position: relative;
            font-weight: bold;
            color: #1ba4db;
            padding-left: 50px;
            &:before {
              content: "";
              background: url(../images/icon_tel.png) no-repeat;
              background-size: contain;
              width: 21px;
              height: 29px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 20px;
            }
          }
        }
      }
    }
  }
}

/* extra */
.gr_shop_area {
  h4 {
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #49A2D6;
    cursor: pointer;
    &::after {
      position: relative;
      content: "";
      width: #{(28px*0.8)};
      height: #{(17px*0.8)};
      background: url('../images/arrow_down.png') 0 0 no-repeat;
      background-size: contain;
      margin-left: 20px;
      transform-origin: 50% 50%;
      transition: transform 0.3s ease;
    }
    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &_wrap {
    display: flex;
    flex-flow: row wrap;
    article {
      width: 33%;
      font-size: 1.4rem;
      line-height: 1.5;
      padding: 20px;
      h5 {
        font-weight: bold;
      }
      address {
        font-style: normal;
      }
      a {
        color: #000;
        pointer-events: none;
      }
    }
  }
}